.current-players {
  margin: 3% 0 10%;
}

.current-players .row {
  position: relative;
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  margin-bottom: 3%;
}

.grid-card:hover {
  transform: none;
}

.no-player {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0 0 10%;
}

@media screen and (max-width: 500px) {

  .current-players .row {
    margin-bottom: 5%;
  }
}
