h1 {
    margin-bottom: 1rem;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.mat-dialog-content {
    padding: 15px 24px;
    
}

button {
    height: 32px;
    font-size: 12px;
}

.complete-sign {
    color: green;
    margin-left: 15px;
}