<!-- <div class="bracket">

  <section class="round quarterfinals">
    <h5 class="round-title">
      Quarterfinals
    </h5>
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant winner">
              <span class="name">John</span>
              <span class="result">23</span>
            </div>
            <div class="participant">
              <span class="name">Steve</span>
              <span class="result">13</span>
            </div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant">
              <span class="name">Vanya</span>
              <span class="result">11</span>
            </div>
            <div class="participant winner">
              <span class="name">Pete</span>
              <span class="result">17</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant">
              <span class="name">Jack</span>
              <span class="result">19</span>
            </div>
            <div class="participant winner">
              <span class="name">Sean</span>
              <span class="result">18</span>
            </div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant">
              <span class="name">Bob</span>
              <span class="result">9</span>
            </div>
            <div class="participant winner">
              <span class="name">Li</span>
              <span class="result">15</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="round semifinals">
    <h5 class="round-title">
      Semifinals
    </h5>
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant winner">
              <span class="name">John</span>
              <span class="result">21</span>
            </div>
            <div class="participant">
              <span class="name">Jack</span>
              <span class="result">19</span>
            </div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant winner">
              <span class="name">Sean</span>
              <span class="result">17</span>
            </div>
            <div class="participant">
              <span class="name">Steve</span>
              <span class="result">14</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="round finals">
    <h5 class="round-title">
      Finals
    </h5>
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant winner">
              <span class="name">Steve</span>
              <span class="result">20</span>
            </div>
            <div class="participant">
              <span class="name">Sean</span>
              <span class="result">18</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->

<div class="bracket" *ngIf="rounds">
  {{rounds.length}}
  <app-round 
    *ngFor="let round of rounds; let i = index;" 
    [round]='round' 
    [roundType]="roundType" 
    class="round"
    [ngClass]="defineRoundType(i)"
    >
  </app-round>
</div>
