// GENERAL-header

.main-header,
.main-header-no-min {
  margin-top: -1px;
  padding: 0 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  z-index: 5;
  position: sticky;
  top: 0;
  transition: 0.3s;
  background-color: #262b31;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.main-header__logo img {
  width: 120px;
  height: 75px;
}

.main-header__logo img:first-of-type {
  width: 90px;
}

.main-header__logo {
  cursor: pointer;
}

.main-header.scrolled .main-header__logo img {
  width: 110px;
  height: 60px;
}

.main-header.scrolled .main-header__logo img:first-of-type {
  width: 60px;
}

.site-nav ul,
.site-nav-no-min ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.site-nav-no-min ul {
  padding-top: 2%;
}

.site-nav li,
.site-nav-no-min li {
  margin-left: 20px;
  border-bottom: none;
}

.main-header .mdc-tab-bar,
.main-header-no-min .mdc-tab-bar,
.main-header .mdc-tab-scroller,
.main-header-no-min .mdc-tab-scroller,
.main-header .mdc-tab-scroller__scroll-area,
.main-header-no-min .mdc-tab-scroller__scroll-area,
.main-header .mdc-tab-bar a,
.main-header-no-min .mdc-tab-bar a {
  height: 100%;
}

.site-nav-min {
  display: none;
}

.menu-btn {
  margin-top: 25%;
  margin-left: 10%;
}

.site-nav-min .mdc-menu-surface {
  margin-top: 20%;
  // @include mdc-menu-surface-fill-color(#262b31);
}

.site-nav-min .mdc-list {
  // @include mdc-menu-surface-ink-color(#fff);
}

.mdc-list-divider {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 795px) {
  .main-header .main-header__logo img,
  .main-header-no-min .main-header__logo img {
    width: 90px;
    height: 50px;
    margin-left: 5px;
  }

  .main-header__logo img:first-of-type {
    width: 60px;
  }

  .site-nav,
  .site-nav-no-min {
    display: none;
  }

  .site-nav-min {
    display: block;
  }

  .menu-btn {
    width: 42px;
    height: 42px;
    padding: 8px;
    margin-top: 20%;
  }

  .site-nav-min .mdc-menu-surface,
  .site-nav-no-min .mdc-menu-surface {
    width: 100vw;
    margin-top: 20%;
  }

  .mdc-menu__selection-group {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }
}

@media screen and (max-width: 550px) {
  .main-header .main-header__logo img,
  .main-header-no-min .main-header__logo img {
    width: 90px;
    height: 60px;
  }
}