<header class="main-header-no-min">

  <a class="main-header__logo" [routerLink]="['/main']">
    <img src="/assets/images/avatars/flaming.svg" width="100" height="50" alt="Logo image">
    <img src="/assets/images/image2vector.svg" width="120" height="60" alt="Logo image">
  </a>

  <nav mat-tab-nav-bar class="site-nav-no-min" >

    <a mat-tab-link *ngIf="isLogged$ | async" [routerLink]="['/creation']" routerLinkActive #rla1="routerLinkActive"
      [active]="rla1.isActive"> Create new
    </a>

    <a mat-tab-link [routerLink]="['/tournos-search']" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
      Tournaments
    </a>

    <a mat-tab-link [routerLink]="['/players-search']" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
      Players
    </a>

    <a mat-tab-link *ngIf="!(isLogged$ | async)" [routerLink]="['/auth']" routerLinkActive #rla4="routerLinkActive"
      [active]="rla4.isActive"> Sign In
    </a>

  </nav>

  <nav class="site-nav-min">

    <button mat-fab aria-label="open menu" [matMenuTriggerFor]="menu" class="menu-btn">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

      <a mat-menu-item [routerLink]="['/creation']" *ngIf="isLogged$ | async">
        Create new</a>

      <a mat-menu-item [routerLink]="['/tournos-search']">
        All Tournaments</a>

      <a mat-menu-item [routerLink]="['/players-search']">
        All Players</a>

      <mat-divider></mat-divider>

      <a mat-menu-item [routerLink]="['/auth']" *ngIf="!(isLogged$ | async)">
        Sign in</a>

      <a mat-menu-item [routerLink]="['/settings']" *ngIf="isLogged$ | async">
        Profile Settings</a>

      <mat-divider *ngIf="isLogged$ | async"></mat-divider>

      <button mat-menu-item (click)=tryLogout() *ngIf="isLogged$ | async">
        Log out</button>

    </mat-menu>

  </nav>
</header>