<div class="regular-wrapper">
    <div class="container-center">
        <h2 class="main-title">
            New tournament
        </h2>
        <form class="tourno-creation">
            <section class="tourno-creation__step">
                <h3 class="tourno-creation__step-title">
                    Basic information
                </h3>
                <div class="tourno-creation__step-content">

                    <label for="name-input">Name:</label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">person</i>
                        <input class="mdc-text-field__input" id="name-input" required>
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <label for="tourno-type-checkboxes"> Tournament type: </label>
                    <div id="tourno-type-checkboxes">
                        <div class="mdc-form-field">
                            <div class="radio-btn mdc-radio">
                                <input class="mdc-radio__native-control" type="radio" name="tourno-type"
                                    id="tourno-type1" checked required>
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle" selected></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label for="tourno-type1"> Single-elimination tournament </label>
                        </div>
                        <div class="mdc-form-field">
                            <div class="radio-btn mdc-radio">
                                <input class="mdc-radio__native-control" type="radio" name="tourno-type"
                                    id="tourno-type2" checked required>
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle" selected></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label for="tourno-type2"> Double-elimination tournament </label>
                        </div>
                    </div>

                    <label for="country-selector"> Country: </label>
                    <div class="form-selector mdc-select mdc-select--with-leading-icon">
                        <i class="material-icons mdc-select__icon" tabindex="0" role="button">public</i>
                        <i class="mdc-select__dropdown-icon"></i>
                        <select class="mdc-select__native-control" id="country-selector" required>
                            <option value="none">

                            </option>
                            <option value="rus">
                                Russia
                            </option>
                            <option value="ua">
                                USA
                            </option>
                            <option value="de">
                                Germany
                            </option>
                            <option value="en">
                                England
                            </option>
                            <option value="fr">
                                France
                            </option>
                            <option value="ukr">
                                Ukraine
                            </option>
                        </select>
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <label for="game-selector"> Game: </label>
                    <div class="form-selector mdc-select mdc-select--with-leading-icon">
                        <i class="material-icons mdc-select__icon" tabindex="0" role="button">videogame_asset</i>
                        <i class="mdc-select__dropdown-icon"></i>
                        <select class="mdc-select__native-control" id="game-selector" required>
                            <option value=""></option>
                            <option value="football">Football</option>
                            <option value="basketball">Basketball</option>
                            <option value="rugby">Rugby</option>
                            <option value="baseball">Baseball</option>
                            <option value="hockey">Hockey</option>
                            <option value="tennis">Tennis</option>
                            <option value="chess">Chess</option>
                            <option value="counterstrike">CS:Go</option>
                            <option value="dota2">DOTA 2</option>
                            <option value="fifa">FIFA</option>
                            <option value="pubg">PUBG</option>
                            <option value="other">Other</option>
                        </select>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <div class="other-chosen-input-field form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">videogame_asset</i>
                        <input class="mdc-text-field__input" id="game-selector" required>
                        <div class="mdc-line-ripple"></div>
                    </div>


                    <label for="player-checkboxes"> Player type: </label>
                    <div id="player-checkboxes">
                        <div class="mdc-form-field">
                            <div class="radio-btn mdc-radio">
                                <input class="mdc-radio__native-control" type="radio" name="player-type"
                                    id="player-type1" checked required>
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle" selected></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label for="player-type1"> Single </label>
                        </div>
                        <div class="mdc-form-field">
                            <div class="radio-btn mdc-radio">
                                <input class="mdc-radio__native-control" type="radio" name="player-type"
                                    id="player-type2" checked required>
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle" selected></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label for="player-type2"> Team </label>
                        </div>
                    </div>
                    <label for="description"> Add a description: </label>
                    <div class="textarea mdc-text-field mdc-text-field--textarea">
                        <textarea id="textarea" class="mdc-text-field__input" rows="8" cols="40"
                            placeholder="Type some comment here" id="description"></textarea>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tourno-creation__step">
                <h3 class="tourno-creation__step-title">
                    Org information
                </h3>

                <div class="tourno-creation__step-content">
                    <label for="start-date"> Start date: </label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">today</i>
                        <input type="date" class="mdc-text-field__input" id="start-date" required>
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <label for="end-date"> End date: </label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">today</i>
                        <input type="date" class="mdc-text-field__input" id="end-date" required>
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <label for="entry-fee"> Entry Fee: </label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">person</i>
                        <input class="mdc-text-field__input" id="entry-fee" required>
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <label for="prize"> Prize: </label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">stars</i>
                        <input class="mdc-text-field__input" id="prize" required>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
            </section>

            <section class="tourno-creation__step">

                <h3 class="tourno-creation__step-title">
                    Add players to the tournament
                </h3>


                <div class="tourno-creation__step-content tourno-creation__step-content_add-player">

                    <h4 class="tourno-creation__step-subtitle">
                        Current players
                    </h4>

                    <p class="tourno-creation__step-description">
                        <i class="material-icons">
                            error_outline
                        </i>
                        Change list rows positions to set the seed order or check the checkbox below to let them
                        be seeded randomly
                    </p>

                    <div class="seed-randomly-checkbox">
                        <div class="mdc-form-field">
                            <div class="checkbox mdc-checkbox">
                                <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox2" />
                                <div class="mdc-checkbox__background">
                                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                        <path class="mdc-checkbox__checkmark-path" fill="none"
                                            d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                    </svg>
                                    <div class="mdc-checkbox__mixedmark"></div>
                                </div>
                            </div>
                            <label for="checkbox2">Seed randomly</label>
                        </div>
                    </div>

                    <div class="added-players players-list">
                        <div class="row">
                            <div class="grid-card players-list__card mdc-card" role="row">

                                <div class="players-info players-info__userpic" role="cell">
                                    <img src=".././assets/images/avatars/avatar.svg" alt="userpic">
                                </div>
                                <p class="grid-card__title" role="cell">
                                    <i class="material-icons" title="Team">person</i>
                                    Sandra Evans
                                </p>
                                <div class="grid-card__info">
                                    <div class="players-info players-info__game" role="cell">
                                        <span>Basketball</span>
                                    </div>
                                </div>
                                <div class="grid-card__info">
                                    <div class="players-info players-info__country" role="cell">
                                        <span>Spain</span>
                                    </div>
                                </div>
                                <div class="grid-card__info">
                                    <p class="players-info players-info__points" role="cell">
                                        <span class="players-info__points-value">0</span>
                                    </p>
                                </div>

                                <div class="grid-card__info">
                                    <p class="players-info players-info__games" role="cell">
                                        <span class="players-info__games-value">0</span>
                                    </p>
                                </div>
                                <div class="grid-card__info">
                                    <div class="players-info players-info__games-won" role="cell">
                                        <span>0</span>
                                    </div>
                                </div>


                                <div class="grid-card__actions mdc-card__actions">

                                    <div class="mdc-card__action-icons">
                                        <button
                                            class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                            aria-pressed="false" aria-label="Add to favourites"
                                            title="Add to favourites">
                                            <i
                                                class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                            <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                                        </button>

                                        <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                            href="../player-profile/player-profile.html">
                                            <i class="material-icons">
                                                chevron_right
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <button
                                class="delete-player-btn btn icon-btn_delete btn_round material-icons mdc-icon-button">
                                <i class="material-icons">
                                    clear
                                </i>
                            </button>
                        </div>

                        <div class="row">
                            <div class="grid-card players-list__card mdc-card" role="row">

                                <div class="players-info players-info__userpic" role="cell">
                                    <img src=".././assets/images/avatars/avatar.svg" alt="userpic">
                                </div>
                                <p class="grid-card__title" role="cell">
                                    <i class="material-icons" title="Team">person</i>
                                    Steve
                                </p>
                                <div class="grid-card__info">
                                    <div class="players-info players-info__game" role="cell">
                                        <span>Basketball</span>
                                    </div>
                                </div>
                                <div class="grid-card__info">
                                    <div class="players-info players-info__country" role="cell">
                                        <span>Russia</span>
                                    </div>
                                </div>
                                <div class="grid-card__info">
                                    <p class="players-info players-info__points" role="cell">
                                        <span class="players-info__points-value">0</span>
                                    </p>
                                </div>

                                <div class="grid-card__info">
                                    <p class="players-info players-info__games" role="cell">
                                        <span class="players-info__games-value">0</span>
                                    </p>
                                </div>
                                <div class="grid-card__info">
                                    <div class="players-info players-info__games-won" role="cell">
                                        <span>0</span>
                                    </div>
                                </div>


                                <div class="grid-card__actions mdc-card__actions">

                                    <div class="mdc-card__action-icons">
                                        <button
                                            class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                            aria-pressed="false" aria-label="Add to favourites"
                                            title="Add to favourites">
                                            <i
                                                class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                            <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                                        </button>

                                        <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                            href="../player-profile/player-profile.html">
                                            <i class="material-icons">
                                                chevron_right
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <button
                                class="delete-player-btn btn icon-btn_delete btn_round material-icons mdc-icon-button">
                                <i class="material-icons">
                                    clear
                                </i>
                            </button>

                        </div>

                    </div>

                    <h4 class="tourno-creation__step-subtitle">
                        Add more players
                    </h4>

                    <p class="tourno-creation__step-description">
                        You can either add a player from the list of the players you have already created or a
                        completely new one!
                    </p>

                    <div class="add-player-mode-switcher mode-switcher">
                        <label for="basic-switch">From List</label>
                        <div class="mdc-switch">
                            <div class="mdc-switch__track"></div>
                            <div class="mdc-switch__thumb-underlay">
                                <div class="mdc-switch__thumb">
                                    <input type="checkbox" id="basic-switch" class="mdc-switch__native-control"
                                        role="switch">
                                </div>
                            </div>
                        </div>
                        <label for="basic-switch">New</label>
                    </div>

                    <div class="add-from-list">
                        <div class="search-form">
                            <div
                                class="search-input search-form__search mdc-text-field mdc-text-field--outlined mdc-text-field--no-label mdc-text-field--with-leading-icon">
                                <i class="material-icons mdc-text-field__icon">search</i>
                                <input type="text" class="mdc-text-field__input" aria-label="Label"
                                    placeholder="Start typing to find...">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                        </div>

                        <section class="players-search-result">
                            <div class="players-list" role="table">

                                <div class="row">

                                    <div class="grid-card players-list__card mdc-card" role="row">

                                        <div class="players-info players-info__userpic" role="cell">
                                            <img src=".././assets/images/avatars/team4.jpeg" alt="userpic">
                                        </div>

                                        <p class="grid-card__title" role="cell">
                                            <i class="material-icons" title="Team">group</i>
                                            Mad bears
                                        </p>

                                        <div class="grid-card__info">
                                            <div class="players-info players-info__game" role="cell">
                                                <span>Football</span>
                                            </div>
                                        </div>
                                        <div class="grid-card__info">
                                            <div class="players-info players-info__game" role="cell">
                                                <span>Germany</span>
                                            </div>
                                        </div>

                                        <div class="grid-card__info">
                                            <div class="players-info players-info__points" role="cell">
                                                <span class="players-info__points-value">95</span>
                                            </div>
                                        </div>

                                        <div class="grid-card__info">
                                            <div class="players-info players-info__games" role="cell">
                                                <span class="players-info__games-value">13</span>
                                            </div>
                                        </div>
                                        <div class="grid-card__info">
                                            <div class="players-info players-info__games-won" role="cell">
                                                <span>5</span>
                                            </div>
                                        </div>

                                        <div class="grid-card__actions mdc-card__actions">
                                            <div class="mdc-card__action-icons">
                                                <button
                                                    class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                                    aria-pressed="false" aria-label="Add to favourites"
                                                    title="Add to favourites">
                                                    <i
                                                        class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                                    <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                                                </button>

                                                <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                                    href="../player-profile/player-profile.html">
                                                    <i class="material-icons">
                                                        chevron_right
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <button
                                        class="add-to-list-btn btn icon-btn_delete btn_round material-icons mdc-icon-button">
                                        <i class="material-icons">
                                            add
                                        </i>
                                    </button>
                                </div>

                                <div class="row">
                                    <div class="grid-card players-list__card mdc-card" role="row">

                                        <div class="players-info players-info__userpic" role="cell">
                                            <img src=".././assets/images/avatars/face4.jpeg" alt="userpic">
                                        </div>
                                        <p class="grid-card__title" role="cell">
                                            <i class="material-icons" title="Team">person</i>
                                            Jack Johnson
                                        </p>
                                        <div class="grid-card__info">

                                            <div class="players-info players-info__game" role="cell">
                                                <span>Football</span>
                                            </div>
                                        </div>
                                        <div class="grid-card__info">
                                            <div class="players-info players-info__country" role="cell">
                                                <span>England</span>
                                            </div>
                                        </div>
                                        <div class="grid-card__info">
                                            <div class="players-info players-info__points" role="cell">
                                                <span class="players-info__points-value">45</span>
                                            </div>
                                        </div>

                                        <div class="grid-card__info">
                                            <div class="players-info players-info__games" role="cell">
                                                <span class="players-info__games-value">6</span>
                                            </div>
                                        </div>
                                        <div class="grid-card__info">
                                            <div class="players-info players-info__games-won" role="cell">
                                                <span>5</span>
                                            </div>
                                        </div>


                                        <div class="grid-card__actions mdc-card__actions">

                                            <div class="mdc-card__action-icons">
                                                <button
                                                    class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                                    aria-pressed="false" aria-label="Add to favourites"
                                                    title="Add to favourites">
                                                    <i
                                                        class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                                    <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                                                </button>
                                                <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                                    href="../player-profile/player-profile.html">
                                                    <i class="material-icons">
                                                        chevron_right
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <button
                                        class="add-to-list-btn btn icon-btn_delete btn_round material-icons mdc-icon-button">
                                        <i class="material-icons">
                                            add
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="add-new">
                        <div class="add-player">
                            <label for="player-name-1">
                                <span class="add-player__value">1.</span>
                                Name: </label>
                            <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                                <i class="material-icons mdc-text-field__icon">person</i>
                                <input class="mdc-text-field__input" id="player-name-1" required>
                                <div class="mdc-line-ripple"></div>
                            </div>
                            <label for="add-avatar-1"> Add avatar: </label>
                            <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                                <input type="file" class="mdc-text-field__input" id="add-avatar-1">
                            </div>
                        </div>
                        <button class="add-player-btn btn_round material-icons mdc-icon-button">add</button>
                    </div>
                </div>
            </section>

            <button type="submit" name="submit"
                class="tourno-creation__submit-btn mdc-button mdc-button--outlined btn highlighted-btn">
                Create a
                tournament
            </button>
        </form>
    </div>
</div>