<div class="regular-wrapper">
  <div class="container-center">
    <h2 class="main-title">
      New tournament
    </h2>

    <form class="tourno-creation" [formGroup]="formGroup">
      <mat-vertical-stepper formArrayName="formArray" [linear]="isLinear">

        <mat-step formGroupName="0" [stepControl]="formArray?.get([0])" errorMessage="Fill out all required fields">
          <ng-template matStepLabel>Fill out tournament's basic information</ng-template>

          <section class="tourno-creation__step">

            <h3 class="tourno-creation__step-title">
              Basic information
            </h3>
            <div class="tourno-creation__step-content">

              <label> Name: </label>
              <mat-form-field class="form-input">
                <input matInput formControlName="name">
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>

              <label> Tournament type: </label>
              <mat-radio-group formControlName="tournamentType">
                <mat-radio-button value="single-elimination">Single-elimination tournament</mat-radio-button>
                <mat-radio-button value="double-elimination">Double-elimination tournament</mat-radio-button>
              </mat-radio-group>


              <label>Country</label>
              <mat-form-field>
                <mat-select formControlName="country">

                  <mat-option value="russia">
                    Russia
                  </mat-option>
                  <mat-option value="usa">
                    USA
                  </mat-option>
                  <mat-option value="germany">
                    Germany
                  </mat-option>
                  <mat-option value="england">
                    England
                  </mat-option>
                  <mat-option value="france">
                    France
                  </mat-option>
                  <mat-option value="ukraine">
                    Ukraine
                  </mat-option>

                </mat-select>
              </mat-form-field>

              <label> Game: </label>
              <mat-form-field>
                <mat-select formControlName="game">
                  <mat-option value="football">Football</mat-option>
                  <mat-option value="basketball">Basketball</mat-option>
                  <mat-option value="rugby">Rugby</mat-option>
                  <mat-option value="baseball">Baseball</mat-option>
                  <mat-option value="hockey">Hockey</mat-option>
                  <mat-option value="tennis">Tennis</mat-option>
                  <mat-option value="chess">Chess</mat-option>
                  <mat-option value="counterstrike">CS:Go</mat-option>
                  <mat-option value="dota2">DOTA 2</mat-option>
                  <mat-option value="fifa">FIFA</mat-option>
                  <mat-option value="pubg">PUBG</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="form-input other-chosen-input-field">
                <input matInput>
                <mat-icon matSuffix>videogame_asset</mat-icon>
              </mat-form-field>


              <label> Player type: </label>
              <mat-radio-group formControlName="playerType">
                <mat-radio-button value="single">Single</mat-radio-button>
                <mat-radio-button value="team">Team</mat-radio-button>
              </mat-radio-group>


              <label for="description"> Add a description: </label>
              <mat-form-field class="form-input">
                <textarea matInput rows="8" cols="40" formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </section>

          <div class="stepper-navigation-btns">
            <button class="btn" mat-stroked-button matStepperNext type="button"
              (click)="saveFormChanges(0)">Next</button>
          </div>
        </mat-step>


        <mat-step formGroupName="1" [stepControl]="formArray?.get([1])" errorMessage="Fill out all required fields">
          <ng-template matStepLabel>Fill out tournament's orga information</ng-template>

          <section class="tourno-creation__step">
            <h3 class="tourno-creation__step-title">
              Org information
            </h3>

            <div class="tourno-creation__step-content">
              <label for="start-date"> Start date: </label>
              <mat-form-field>
                <input matInput [matDatepicker]="startDate" placeholder="Start date" formControlName="startDate"
                  required>
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field>

              <label for="end-date"> End date: </label>
              <mat-form-field>
                <input matInput [matDatepicker]="endDate" placeholder="End date" formControlName="endDate" required>
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
              </mat-form-field>

              <label> Entry Fee: </label>
              <mat-form-field class="form-input">
                <input matInput formControlName="entryFee" required>
                <mat-icon matSuffix>money</mat-icon>
              </mat-form-field>

              <label> Prize: </label>
              <mat-form-field class="form-input">
                <input matInput formControlName="prize" required>
                <mat-icon matSuffix>stars</mat-icon>
              </mat-form-field>
            </div>
          </section>
          <div class="stepper-navigation-btns">
            <button class="btn" mat-stroked-button matStepperPrevious type="button"
              (click)="saveFormChanges(1)">Back</button>
            <button class="btn" mat-stroked-button matStepperNext type="button"
              (click)="saveFormChanges(1)">Next</button>
          </div>
        </mat-step>


        <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
          <ng-template matStepLabel>Add players</ng-template>
          <section class="tourno-creation__step">

            <h3 class="tourno-creation__step-title">
              Add players to the tournament
            </h3>

            <h4>
              Choose number of participants in the tournament
            </h4>

            <label>Participants number </label>

            <mat-form-field>
              <mat-select formControlName="participants">

                <mat-option value="4">
                  4
                </mat-option>
                <mat-option value="8">
                  8
                </mat-option>
                <mat-option value="16">
                  16
                </mat-option>
                <mat-option value="32">
                  32
                </mat-option>

              </mat-select>
            </mat-form-field>

            <app-add-player
              [participants]="formGroup.get('formArray').get([2]).value"
              [tournoInfo]="formGroup.get('formArray').get([0]).value"
              >
            </app-add-player>

          </section>
          <div class="stepper-navigation-btns">
            <button class="btn" mat-stroked-button matStepperPrevious type="button"
              (click)="saveFormChanges(2)">Back</button>
            <button class="btn highlighted-btn" mat-raised-button matStepperNext type="submit" name="submit"
              class="tourno-creation__submit-btn btn highlighted-btn" (click)="saveTournament(2)"
              [disabled]="formGroup.invalid">
              Create a
              tournament
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </div>
</div>
