<h1 hidden>
  Tournament {{tourno?.name}} profile
</h1>
<div class="background-container" [style.background-image]="backgroundImg">
</div>

<div class="regular-wrapper">




  <div class="tourno-profile__header">

    <div class="container-center">

      <div class="tourno-profile__pic">
        <img src=".././assets/images/avatars/avatar.svg" alt="pic">
      </div>

      <h2 class="tourno-profile__header-title">
        {{tourno?.name}}
      </h2>

      <p class="tourno-profile__dates">
        {{tourno?.startDate}} - {{tourno?.endDate}}
      </p>

    </div>

  </div>

  <div class="container-center">
    <mat-tab-group mat-stretch-tabs class="tourno-profile__tabs" [animationDuration]="0">


      <section class="tourno-profile">
        <mat-tab label="Info">


          <section class="tourno-profile__info">



            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>hourglass_empty</mat-icon>
              <label>Status: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.status|titlecase}}>
              </mat-form-field>
            </div>

            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>videogame_asset</mat-icon>
              <label>Game: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.game|titlecase}}>
              </mat-form-field>
            </div>

            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>public</mat-icon>
              <label>Country: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.country|titlecase}}>
              </mat-form-field>
            </div>


            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>group</mat-icon>
              <label>Participants: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.participants}}>
              </mat-form-field>
            </div>

            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>attach_money</mat-icon>
              <label>Entry fee:: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.entryFee}}>
              </mat-form-field>
            </div>

            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>star</mat-icon>
              <label>Prize: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.prize|titlecase}}>
              </mat-form-field>
            </div>

          </section>

        </mat-tab>

        <mat-tab label="Bracket">

          <section class="tourno-profile__bracket">

            <app-bracket [rounds]="rounds" [isEditingDisabled]="isEditingDisabled">
            </app-bracket>

            <div class="edit-mode-btns" *ngIf="ifCreator">
              <button mat-raised-button type="submit" name="submit" class="btn highlighted-btn" (click)="handleEnableEditing()" *ngIf="isEditingDisabled">
                Add scores
              </button>

              <button mat-stroked-button class="btn" *ngIf="!isEditingDisabled" (click)="handleCancelEditing()">
                Cancel
              </button>

              <button mat-raised-button type="submit" name="submit" class="btn highlighted-btn" *ngIf="!isEditingDisabled" (click)="handleSubmitEditing()">
                Save changes
              </button>
            </div>

          </section>

        </mat-tab>

        <mat-tab label="Comments">

          <section class="tourno-profile__comments">

            <h3 class="tourno-profile__title">
              Leave a comment
            </h3>

            <mat-form-field class="form-input">
              <textarea matInput rows="8" cols="40"></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit" name="submit" class="btn highlighted-btn">
              Post
            </button>

            <div class="tourno-profile__details-tab-content">

            </div>
          </section>

        </mat-tab>

        <mat-tab label="Settings" *ngIf="ifCreator">

          <section class="tourno-profile__settings">

            <div class="tourno-profile__settings-step">
              <h3 class="tourno-profile__title">
                Edit tournament info
              </h3>
              <form class="tourno-profile__settings-content">
                <label for="start-date"> Start date: </label>
                <mat-form-field>
                  <input matInput [matDatepicker]="startDate" placeholder="Start date" value={{tourno?.startDate}}>
                  <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>

                <label for="end-date"> End date: </label>
                <mat-form-field>
                  <input matInput [matDatepicker]="endDate" placeholder="End date" value={{tourno?.endDate}}>
                  <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>

                <label> Entry Fee: </label>
                <mat-form-field class="form-input">
                  <input matInput value={{tourno?.entryFee}}>
                  <mat-icon matSuffix>money</mat-icon>
                </mat-form-field>

                <label> Prize: </label>
                <mat-form-field class="form-input">
                  <input matInput value={{tourno?.prize}}>
                  <mat-icon matSuffix>stars</mat-icon>
                </mat-form-field>
                <button mat-raised-button type="submit" name="submit" class="tourno-profile__settings-submit-btn btn highlighted-btn">
                  Submit changes
                </button>
              </form>
            </div>

            <div class="tourno-profile__settings-step">
              <h3 class="tourno-profile__title">
                Players management
              </h3>

              <app-add-player [items$]="items$"></app-add-player>

            </div>
            <div class="tourno-profile__settings-step">
              <h3 class="tourno-profile__title">
                Delete tournament
              </h3>
              <p class="tourno-profile__description">
                Once you delete your a tournament, there is no going back. Please be certain.
              </p>

              <button mat-raised-button color="warn" class="delete-tourno-btn btn hightlighted-btn btn_delete" (click)="handleOpenDeletePopup('tounaments')">
                Delete this tournament
              </button>
            </div>
          </section>

        </mat-tab>
      </section>

    </mat-tab-group>

  </div>


</div>
