@import "src/styles.scss";

input {
  display: inline-block;
  background-color: $wix-light-foreground;
  border: none;
  border-radius: 5px;
  min-width: 170px;
  max-width: 300px;
  color: $wix-color;

  &:disabled {
    background-color: transparent;
    color: $wix-color;
    border: none;
  }
}

.background-container {
  height: 30vh;
  width: 100vw;
  background-size: cover;
  background-position: 0 30%;
}

.form-input input,
.form-selector select {
  padding-top: 0;
}

.container-center {
  position: relative;
}

.tourno-profile__header {
  background-color: $wix-dark-background;
  padding-top: 15px;
}

.tourno-profile__header > .container-center {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}

.tourno-profile__header-title {
  margin: 0;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 12%;
}

.tourno-profile__dates {
  margin-left: 3%;
  font-size: 1.1em;
  font-weight: bold;
  max-width: 250px;
}

.tourno-profile__tabs {
  margin-top: -48px;
}

.tourno-profile__info,
.tourno-profile__bracket,
.tourno-profile__comments,
.tourno-profile__settings {
  display: flex;
  flex-direction: column;
  margin: 8% 0 10%;
  width: 98%;
  min-height: 600px;
}

.tourno-profile__info-item {
  display: grid;
  grid-template-columns: 3% 12% 70%;
  grid-template-rows: auto;
  grid-row-gap: 2%;
  grid-column-gap: 1%;
  margin-bottom: 3%;
  align-items: end;
}

.tourno-profile__info-item .form-input {
  height: 40px;
}

.tourno-profile__info-item i {
  font-size: 20px;
}

.tourno-profile__info-item label {
  font-weight: 600;
}

.edit-mode-btns {
  display: flex;
  flex-direction: row;

  button:first-of-type {
    margin-left: auto;
    margin-right: 5%;
  }
}

.tourno-profile__comments .textarea {
  width: 60%;
  margin-bottom: 4%;
}

.tourno-profile__comments .btn {
  width: 30%;
}

.tourno-profile__title {
  border-bottom: 1px solid $light-dividers;
}

.tourno-profile__settings-step {
  margin-bottom: 10%;
  padding: 0 4% 3% 4%;
}

.tourno-profile__desscription {
  margin: 0;
}

.tourno-profile__settings-content {
  display: grid;
  grid-template-columns: 15% 75% 10%;
  grid-row-gap: 8px;
  grid-area: content;
}

.tourno-profile__description {
  margin: 3% 0;
}

.delete-tourno-btn,
.tourno-profile__settings-submit-btn {
  margin-top: 5%;
}

@media screen and (max-width: 1200px) {
  .container-center {
    width: 75vw;
  }
}

@media screen and (max-width: 980px) {
  .container-center {
    width: 90vw;
  }

  .tourno-profile__header > .container-center {
    flex-direction: column;
  }

  .tourno-profile__header-title {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 0%;
  }

  .tourno-profile__dates {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 15%;
  }

  .tourno-profile__info-item {
    grid-template-columns: 3% 12% 78%;
    grid-column-gap: 4%;
  }

  .tourno-profile__comments .textarea {
    width: 100%;
  }

  .tourno-profile__comments .btn {
    width: 100%;
  }

  .tourno-profile__settings-step {
    margin-bottom: 10%;
    padding: 0 0 5% 0;
  }
}

@media screen and (max-width: 795px) {
  .tourno-profile__info-item {
    grid-template-columns: 3% 15% 70%;
    margin-bottom: 4%;
  }

  .tourno-profile__info,
  .tourno-profile__bracket,
  .tourno-profile__comments,
  .tourno-profile__settings {
    min-height: 0;
  }
}

@media screen and (max-width: 560px) {
  .tourno-profile__header-title {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-top: 0;
  }

  .tourno-profile__dates {
    font-size: 1em;
    font-weight: normal;
    margin-left: 2%;
    margin-bottom: 20%;
  }

  .tourno-profile__info-item label {
    display: none;
  }

  .tourno-profile__info-item {
    grid-template-columns: 5% 90%;
    margin-bottom: 6%;
  }

  .tourno-profile__settings-content {
    grid-template-columns: 1fr;
  }

  .delete-tourno-btn,
  .tourno-profile__settings-submit-btn {
    width: 100%;
    margin-left: 0;
    margin-top: 5%;
  }
}

@media screen and (max-width: 450px) {
  .tourno-profile__settings-content {
    grid-row-gap: 15px;
  }

  .delete-tourno-btn,
  .tourno-profile__settings-submit-btn {
    margin-top: 7%;
  }
}
