@import "src/styles.scss";

.background-container {
  height: 30vh;
  width: 100vw;
  background-size: cover;
  background-position: 0 30%;
}

.form-input input,
.form-selector select {
  padding-top: 0;
}

.container-center {
  position: relative;
}

.tourno-profile__header {
  background-color: $wix-dark-background;
}

.tourno-profile__header > .container-center {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}

.tourno-profile__header-title {
  margin-left: 20%;
  margin-bottom: 12%;
}

.tourno-profile__dates {
  margin-left: 3%;
  font-size: 1.2em;
  font-weight: bold;
}

.tourno-profile__tabs {
  margin-top: -48px;
}

.tourno-profile__pic {
  margin-left: 4%;
  margin-top: 1%;
  position: absolute;
  top: -5vh;
  left: 0;
}

.tourno-profile__pic img {
  padding: 10px;
  width: auto;
  height: 9vh;
  border-radius: 50%;
  border: 3px solid $wix-primary;
  background-color: rgba(255, 255, 255, 0.9);
}

.tourno-profile__info,
.tourno-profile__bracket,
.tourno-profile__comments,
.tourno-profile__settings {
  display: flex;
  flex-direction: column;
  margin: 8% 0 10%;
  width: 98%;
  min-height: 700px;
}

.tourno-profile__info-item {
  display: grid;
  grid-template-columns: 3% 12% 70%;
  grid-template-rows: auto;
  grid-row-gap: 2%;
  grid-column-gap: 1%;
  margin-bottom: 3%;
  align-items: end;
}

.tourno-profile__info-item .form-input {
  height: 40px;
}

.tourno-profile__info-item i {
  font-size: 20px;
}

.tourno-profile__info-item label {
  font-weight: 600;
}

/* .tourno-profile__bracket,
  .tourno-profile__chart,
  .tourno-profile__comments,
  .tourno-profile__settings {
    display: none;
  } */

.tourno-profile__chart .chart {
  width: 100%;
}

.tourno-profile__comments .textarea {
  width: 60%;
  margin-bottom: 4%;
}

.tourno-profile__comments .btn {
  width: 30%;
}

.tourno-profile__title {
  border-bottom: 1px solid $light-dividers;
}

.tourno-profile__settings-step {
  margin-bottom: 10%;
  padding: 0 10% 3% 4%;
}

.tourno-profile__desscription {
  margin: 0;
}

.tourno-profile__settings-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 8px;
  grid-area: content;
}

.delete-tourno-btn,
.tourno-profile__settings-submit-btn {
  width: 40%;
  margin-left: 60%;
  margin-top: 3%;
}

@media screen and (max-width: 1200px) {
  .container-center {
    width: 75vw;
  }
}

@media screen and (max-width: 980px) {
  .container-center {
    width: 90vw;
  }

  .tourno-profile__header > .container-center {
    flex-direction: column;
  }

  .tourno-profile__header h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 25%;
    margin-bottom: 0%;
  }

  .tourno-profile__dates {
    font-size: 1em;
    font-weight: bold;
    margin-left: 25%;
    margin-bottom: 15%;
  }

  .tourno-profile__info-item {
    grid-template-columns: 3% 12% 78%;
    grid-column-gap: 4%;
  }

  .tourno-profile__comments .textarea {
    width: 100%;
  }

  .tourno-profile__comments .btn {
    width: 100%;
  }

  .tourno-profile__settings-step {
    margin-bottom: 10%;
    padding: 0 0 5% 0;
  }
}

@media screen and (max-width: 795px) {
  .tourno-profile__info-item {
    grid-template-columns: 3% 15% 70%;
    margin-bottom: 4%;
  }

  .tourno-profile__info,
  .tourno-profile__bracket,
  .tourno-profile__comments,
  .tourno-profile__settings {
    min-height: 0;
  }
}

@media screen and (max-width: 560px) {
  .tourno-profile__header h2 {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-left: 2%;
    padding-top: 10vh;
    margin-top: 0;
  }

  .tourno-profile__dates {
    font-size: 1em;
    font-weight: normal;
    margin-left: 2%;
    margin-bottom: 20%;
  }

  .tourno-profile__info-item label {
    display: none;
  }

  .tourno-profile__info-item {
    grid-template-columns: 5% 90%;
    margin-bottom: 6%;
  }

  .tourno-profile__settings-content {
    grid-template-columns: 1fr;
  }

  .delete-tourno-btn,
  .tourno-profile__settings-submit-btn {
    width: 100%;
    margin-left: 0;
    margin-top: 5%;
  }
}

@media screen and (max-width: 450px) {
  .tourno-profile__settings-content {
    grid-row-gap: 15px;
  }

  .delete-tourno-btn,
  .tourno-profile__settings-submit-btn {
    margin-top: 7%;
  }
}

//_______________________
// _______________________________________________________________________________
// BRACKET

.bracket {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  font-size: 0;
  .round {
    display: inline-block;
    vertical-align: middle;
    .round-title {
      display: none;
    }
    .winners {
      > div {
        display: inline-block;
        vertical-align: middle;
      }
      > div.matchups {
        .matchup {
          &:last-child {
            margin-bottom: 0 !important;
          }
          .participants {
            border-radius: 0.25rem;
            overflow: hidden;
            .participant {
              display: flex;
              flex-direction: row;
              color: #fff;
              border-left: 0.25rem solid $wix-dark-background;
              background: $wix-light-foreground;
              width: 20vw;
              max-width: 270px;
              height: 3rem;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
              &:not(:last-child) {
                border-bottom: thin solid $wix-light-foreground;
              }
              .name {
                margin: 0 1.25rem;
                line-height: 3;
                font-size: 1rem;
              }
              .result {
                margin-right: 1.25rem;
                margin-left: auto;
                line-height: 3;
                font-size: 1rem;
              }
            }
            .participant.winner {
              color: $wix-primary;
              border-color: $wix-primary;
            }
            .participant.loser {
              color: $wix-warn;
              border-color: $wix-warn;
            }
          }
        }
      }
      > div.connector.filled {
        .line {
          border-color: $wix-primary;
        }
      }
      > div.connector.filled.bottom {
        .merger {
          &:after {
            border-color: $wix-primary;
          }
        }
      }
      > div.connector.filled.top {
        .merger {
          &:before {
            border-color: $wix-primary;
          }
        }
      }
      > div.connector {
        .line {
          box-sizing: border-box;
          width: 2rem;
          display: inline-block;
          vertical-align: top;
          border-bottom: thin solid $light-dividers;
          height: 4rem;
        }
        .merger {
          box-sizing: border-box;
          width: 2rem;
          display: inline-block;
          vertical-align: top;
          position: relative;
          height: 8rem;
          &:before {
            content: "";
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 50%;
            border: 0 solid;
            border-color: $light-dividers;
            border-right-width: thin;
            border-top-width: thin;
          }
          &:after {
            content: "";
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 50%;
            border: 0 solid;
            border-color: $light-dividers;
            border-right-width: thin;
            border-bottom-width: thin;
          }
        }
      }
    }
  }
  .round.quarterfinals {
    .winners {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      .matchups {
        .matchup {
          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  .round.semifinals {
    .winners {
      .matchups {
        .matchup {
          &:not(:last-child) {
            margin-bottom: 10rem;
          }
        }
      }
      .connector {
        .merger {
          height: 16rem;
        }
        .line {
          height: 8rem;
        }
      }
    }
  }
  .round.finals {
    .winners {
      .connector {
        .merger {
          height: 3rem;
        }
        .line {
          height: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 795px) {
  .bracket {
    display: grid;

    section.round {
      .round-title {
        display: block;
        font-size: 1.5rem;
      }
      div.winners {
        div.matchups {
          width: 100%;

          div.matchup {
            margin: 0;
            margin-bottom: 2% !important;

            div.participants {
              display: flex;
              flex-direction: row;
              justify-content: space-around;

              div.participant {
                width: 100%;
                border-bottom: none !important;
              }
              div.participant:not(:first-child) {
                margin-left: 2%;
              }
            }
          }
        }
        .connector {
          display: none;
        }
      }
    }
    section.round.quarterfinals,
    section.round.semifinals,
    section.round.finals {
      margin-bottom: 8%;
    }
  }
}
