@import "../../../dist/bundle.css";

.background-container {
  height: 30vh;
  width: 100vw;
  /* margin-top: -1vh; */
}

.mdc-card__media {
  background-position: 0 30%;
}

.tourno-profile__header {
  padding: 2vh 0 0;
  margin: 0;
  background-color: #272d3542;
}

.tourno-profile__header h2 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-left: 19vh;
  margin-top: 0;
}

.tourno-profile__header .container-center {
  flex-direction: row;
  position: relative;
  height: 100%;
}

.tourno-profile__pic {
  margin-left: 4%;
  margin-top: 1%;
  position: absolute;
  top: -5vh;
  left: 0;
}

.tourno-profile__pic img {
  padding: 10px;
  width: auto;
  height: 9vh;
  border-radius: 50%;
  border: 3px solid #ebc000;
  background-color: rgba(255, 255, 255, 0.8);
}

.tourno-profile__bracket,
.tourno-profile__chart,
.tourno-profile__comments,
.tourno-profile__settings {
  display: flex;
  flex-direction: column;
  margin: 6% auto 10%;
}

.tourno-profile__info {
  display: flex;
  flex-direction: column;
  margin: 6% 0 10%;
}

.tourno-profile__info-item {
  display: grid;
  grid-template-columns: 4% 16% 80%;
  grid-template-rows: auto;
  grid-row-gap: 2%;
  grid-column-gap: 1%;
  margin-bottom: 1%;
}

.tourno-profile__info-item .form-input {
  height: 40px;
}

.tourno-profile__info-item i {
  font-size: 20px;
}

.tourno-profile__info-item label {
  font-weight: 600;
}

/* .tourno-profile__bracket,
.tourno-profile__chart,
.tourno-profile__comments,
.tourno-profile__settings {
  display: none;
} */

.tourno-profile__chart .chart {
  width: 100%;
}

.tourno-profile__comments .textarea {
  width: 60%;
  margin-bottom: 4%;
}

.tourno-profile__comments .btn {
  width: 30%;
}

.tourno-profile__title {
  border-bottom: 1px solid rgba(97, 103, 110, 0.5);
}

.tourno-profile__settings-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 8px;
  grid-area: content;
}

.tourno-profile__settings-content-add-player {
  grid-template-columns: 1fr;
}
 
.add-player {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-column-gap: 2%;
}

.add-player-btn {
  margin: 2% auto 0 auto;
}

.tourno-profile__settings-submit-btn {
  width: 40%;
  margin-left: 60%;
  margin-top: 3%;
}

@media screen and (max-width: 1200px) {
  .main .container-center {
    width: 75vw;
  }

  .tourno-profile__info {
    max-width: 90%;
  }

}

@media screen and (max-width: 980px) {
  .main .container-center {
    width: 90vw;
  }

  .tourno-profile__header h2 {
    font-size: 2.2rem;
    line-height: 3.8rem;
  }

  .tourno-profile__info {
    max-width: 100%;
  }

  .tourno-profile__comments .textarea {
    width: 100%;
  }

  .tourno-profile__comments .btn {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {

  .tourno-profile__header h2 {
    font-size: 1.8rem;
    line-height: 3.5rem;
    margin-left: 0;
    padding-top: 10vh;
    margin-top: 0;
  }

  .tourno-profile__info-item label {
    display: none;
  }

  .tourno-profile__info-item {
    grid-template-columns: 5% 90%;
    grid-column-gap: 4%;
  }

  .tourno-profile__settings-content {
    grid-template-columns: 1fr;
  }

  .add-player {
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 8px;
  }

  .tourno-profile__settings-submit-btn {
    width: 100%;
    margin-left: 0;
    margin-top: 5%;
  }
}

@media screen and (max-width: 450px) {

  .tourno-profile__settings-content {
    grid-row-gap: 15px;
  }

  .tourno-profile__settings-submit-btn {
    margin-top: 7%;
  }

}