<h1 hidden>
  Tournament {{tourno?.name}} profile
</h1>
<div class="background-container" [style.background-image]="backgroundImg">
</div>

<div class="regular-wrapper">




  <div class="tourno-profile__header">

    <div class="container-center">

      <!-- <div class="tourno-profile__pic">
        <img src=".././assets/images/avatars/avatar.svg" alt="pic">
        <p class="tourno-profile__userpic-change" (click)="handleAddingPhoto()" *ngIf="ifCreator">Change</p>
      </div> -->
      <div>
        <h2 class="tourno-profile__header-title" *ngIf="isNameEditingDisabled">
          {{tourno?.name}}
        </h2>
        <input class="tourno-profile__header-title" [(ngModel)]="tourno.name" *ngIf="!isNameEditingDisabled" max="30">

        <button mat-icon-button aria-label="Edit profile" сlass="edit-btn" (click)="handleEnableEditing('name')"
          *ngIf="isNameEditingDisabled && ifCreator" [ngStyle]="{'vertical-align': 'text-bottom'}">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button aria-label="Submit editing" сlass="submit-btn" (click)="handleSubmitEditing('name')"
          *ngIf="!isNameEditingDisabled && ifCreator" [ngStyle]="{'vertical-align': 'text-bottom'}">
          <mat-icon color="primary" [ngStyle]="{'font-size': '30px'}">done</mat-icon>
        </button>
      </div>

      <p class="tourno-profile__dates">
        {{tourno?.startDate | timestampToIso | date: mediumDate }} -
        {{tourno?.endDate | timestampToIso | date: mediumDate}}
      </p>

    </div>

  </div>

  <div class="container-center">
    <mat-tab-group mat-stretch-tabs class="tourno-profile__tabs" [animationDuration]="0">


      <section class="tourno-profile">
        <mat-tab label="Info">


          <section class="tourno-profile__info">



            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>hourglass_empty</mat-icon>
              <label>Status: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.status|titlecase}}>
              </mat-form-field>
            </div>

            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>videogame_asset</mat-icon>
              <label>Game: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.game|titlecase}}>
              </mat-form-field>
            </div>

            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>public</mat-icon>
              <label>Country: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.country|titlecase}}>
              </mat-form-field>
            </div>


            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>group</mat-icon>
              <label>Participants: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.participants}}>
              </mat-form-field>
            </div>

            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>attach_money</mat-icon>
              <label>Entry fee:: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.entryFee}}>
              </mat-form-field>
            </div>

            <div class="tourno-profile__info-item">
              <mat-icon matSuffix>star</mat-icon>
              <label>Prize: </label>
              <mat-form-field class="form-input">
                <input matInput disabled value={{tourno?.prize|titlecase}}>
              </mat-form-field>
            </div>

          </section>

        </mat-tab>

        <mat-tab label="Bracket">

          <section class="tourno-profile__bracket">

            <app-bracket [rounds]="rounds" [isEditingDisabled]="isBracketEditingDisabled">
            </app-bracket>

            <div class="edit-mode-btns" *ngIf="ifCreator">
              <button mat-raised-button type="submit" name="submit" class="btn highlighted-btn"
                *ngIf="isBracketEditingDisabled" (click)="handleEnableBracketEditing()">
                Add scores
              </button>

              <button mat-stroked-button class="btn" *ngIf="!isBracketEditingDisabled"
                (click)="handleCancelBracketEditing()">
                Cancel
              </button>

              <button mat-raised-button type="submit" name="submit" class="btn highlighted-btn"
                *ngIf="!isBracketEditingDisabled" (click)="handleSubmitBracketEditing()">
                Save changes
              </button>
            </div>

          </section>

        </mat-tab>

        <mat-tab label="Comments">

          <section class="tourno-profile__comments" *ngIf="false">

            <h3 class="tourno-profile__title">
              Leave a comment
            </h3>

            <mat-form-field class="form-input">
              <textarea matInput rows="8" cols="40"></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit" name="submit" class="btn highlighted-btn">
              Post
            </button>

            <div class="tourno-profile__details-tab-content">

            </div>
          </section>

        </mat-tab>

        <mat-tab label="Settings" *ngIf="ifCreator">

          <section class="tourno-profile__settings">

            <div class="tourno-profile__settings-step">
              <h3 class="tourno-profile__title">
                Edit tournament info
              </h3>
              <div class="tourno-profile__settings-content">
                <div class="row">
                  <label for="start-date"> Start date: </label>

                  <mat-form-field>
                    <input matInput [matDatepicker]="startDate" placeholder="Start date"
                      [ngModel]="tourno.startDate|timestampToIso" (ngModelChange)="tourno.startDate=$event" disabled>
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate [disabled]="isStartDateEditingDisabled ? true : null"></mat-datepicker>
                  </mat-form-field>

                  <button mat-icon-button aria-label="Edit profile" сlass="edit-btn"
                    (click)="handleEnableEditing('startDate')" *ngIf="isStartDateEditingDisabled && ifCreator"
                    [ngStyle]="{'vertical-align': 'text-bottom'}">
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button mat-icon-button aria-label="Submit editing" сlass="submit-btn"
                    (click)="handleSubmitEditing('startDate')" *ngIf="!isStartDateEditingDisabled && ifCreator"
                    [ngStyle]="{'vertical-align': 'text-bottom'}">
                    <mat-icon color="primary" [ngStyle]="{'font-size': '30px'}">done</mat-icon>
                  </button>
                </div>

                <div class="row">
                  <label for="end-date"> End date: </label>

                  <mat-form-field>
                    <input matInput [matDatepicker]="endDate" placeholder="End date"
                      [ngModel]="tourno.endDate|timestampToIso" (ngModelChange)="tourno.endDate=$event" disabled>
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate [disabled]="isEndDateEditingDisabled ? true : null"></mat-datepicker>
                  </mat-form-field>

                  <button mat-icon-button aria-label="Edit profile" сlass="edit-btn"
                    (click)="handleEnableEditing('endDate')" *ngIf="isEndDateEditingDisabled && ifCreator"
                    [ngStyle]="{'vertical-align': 'text-bottom'}">
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button mat-icon-button aria-label="Submit editing" сlass="submit-btn"
                    (click)="handleSubmitEditing('endDate')" *ngIf="!isEndDateEditingDisabled && ifCreator"
                    [ngStyle]="{'vertical-align': 'text-bottom'}">
                    <mat-icon color="primary" [ngStyle]="{'font-size': '30px'}">done</mat-icon>
                  </button>
                </div>

                <div class="row">
                  <label> Entry Fee: </label>

                  <mat-form-field class="form-input">
                    <input matInput [(ngModel)]="tourno.entryFee" max="20"
                      [disabled]="isEntryFeeEditingDisabled ? true : null">
                    <mat-icon matSuffix>money</mat-icon>
                  </mat-form-field>

                  <button mat-icon-button aria-label="Edit profile" сlass="edit-btn"
                    (click)="handleEnableEditing('entryFee')" *ngIf="isEntryFeeEditingDisabled && ifCreator"
                    [ngStyle]="{'vertical-align': 'text-bottom'}">
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button mat-icon-button aria-label="Submit editing" сlass="submit-btn"
                    (click)="handleSubmitEditing('entryFee')" *ngIf="!isEntryFeeEditingDisabled && ifCreator"
                    [ngStyle]="{'vertical-align': 'text-bottom'}">
                    <mat-icon color="primary" [ngStyle]="{'font-size': '30px'}">done</mat-icon>
                  </button>
                </div>

                <div class="row">
                  <label> Prize: </label>

                  <mat-form-field class="form-input">
                    <input matInput [(ngModel)]="tourno.prize" max="50"
                      [disabled]="isPrizeEditingDisabled ? true : null">
                    <mat-icon matSuffix>stars</mat-icon>
                  </mat-form-field>

                  <button mat-icon-button aria-label="Edit profile" сlass="edit-btn"
                    (click)="handleEnableEditing('prize')" *ngIf="isPrizeEditingDisabled && ifCreator"
                    [ngStyle]="{'vertical-align': 'text-bottom'}">
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button mat-icon-button aria-label="Submit editing" сlass="submit-btn"
                    (click)="handleSubmitEditing('prize')" *ngIf="!isPrizeEditingDisabled && ifCreator"
                    [ngStyle]="{'vertical-align': 'text-bottom'}">
                    <mat-icon color="primary" [ngStyle]="{'font-size': '30px'}">done</mat-icon>
                  </button>
                </div>

              </div>
            </div>

            <div class="tourno-profile__settings-step" *ngIf="false">
              <h3 class="tourno-profile__title">
                Players management
              </h3>

              <app-add-player [items$]="items$"></app-add-player>

            </div>

            <div class="tourno-profile__settings-step">
              <h3 class="tourno-profile__title">
                Delete tournament
              </h3>
              <p class="tourno-profile__description">
                Once you delete your a tournament, there is no going back. Please be certain.
              </p>

              <button mat-raised-button color="warn" class="delete-tourno-btn btn hightlighted-btn btn_delete"
                (click)="handleOpenDeletePopup()">
                Delete this tournament
              </button>
            </div>
          </section>

        </mat-tab>
      </section>

    </mat-tab-group>

  </div>


</div>