<h1 hidden>
  Profile of {{player?.name}} player
</h1>
<div class="background-container" [style.background-image]="backgroundImg">
</div>

<div class="player-profile__header">
  <div class="container-center">
    <div class="player-profile__userpic">
      <img src=".././assets/images/avatars/avatar.svg" alt="userpic">
      <p class="player-profile__userpic-change" (click)="handleAddingPhoto()" *ngIf="ifCreator">Change</p>
    </div>

    <h2 class="player-profile__header-title" *ngIf="isEditingDisabled">
      {{player?.name}}
    </h2>
    <input class="player-profile__header-title" value="{{player?.name}}" *ngIf="!isEditingDisabled" max-value="50">

    <button mat-icon-button aria-label="Edit profile" сlass="edit-btn" (click)="handleEnableEditing()"
      *ngIf="isEditingDisabled && ifCreator" [ngStyle]="{'vertical-align': 'text-bottom'}">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button aria-label="Submit editing" сlass="submit-btn" (click)="handleSubmitEditing()"
      *ngIf="!isEditingDisabled && ifCreator" [ngStyle]="{'vertical-align': 'text-bottom'}">
      <mat-icon color="primary" [ngStyle]="{'font-size': '30px'}">done</mat-icon>
    </button>

  </div>
</div>

<div class="regular-wrapper">
  <div class="container-center">
    <section class="player-profile__info">
      <div class="player-profile__info-item">
        <mat-icon matSuffix>group</mat-icon>
        <label>Type: </label>
        <mat-form-field class="form-input">
          <input matInput disabled value={{player?.playerType|titlecase}}>
        </mat-form-field>
      </div>

      <div class="player-profile__info-item">
        <mat-icon matSuffix>videogame_asset</mat-icon>
        <label>Game: </label>
        <mat-form-field class="form-input">
          <input matInput disabled value={{player?.game|titlecase}}>
        </mat-form-field>
      </div>

      <div class="player-profile__info-item">
        <mat-icon matSuffix>public</mat-icon>
        <label>Country: </label>
        <mat-form-field class="form-input">
          <input matInput disabled value={{player?.country}}>
        </mat-form-field>
      </div>

      <div class="player-profile__info-item">
        <mat-icon matSuffix>stars</mat-icon>
        <label>Points: </label>
        <mat-form-field class="form-input">
          <input matInput disabled value={{player?.points}}>
        </mat-form-field>
      </div>

      <div class="player-profile__info-item">
        <mat-icon matSuffix>play_circle_filled</mat-icon>
        <label>Games: </label>
        <mat-form-field class="form-input">
          <input matInput disabled value={{player?.games}}>
        </mat-form-field>
      </div>

      <div class="player-profile__info-item">
        <mat-icon matSuffix>play_circle_filled</mat-icon>
        <label>Wins: </label>
        <mat-form-field class="form-input">
          <input matInput disabled value={{player?.wins}}>
        </mat-form-field>
      </div>

    </section>

    <section class="player-profile__details" *ngIf="player?.playerType === 'team'">
      <h2 class="title">
        Team members

        <button mat-icon-button aria-label="Edit profile" сlass="edit-btn" (click)="handleEnableEditing()"
          *ngIf="isEditingDisabled && ifCreator" [ngStyle]="{'vertical-align': 'text-bottom'}">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button aria-label="Submit editing" сlass="submit-btn" (click)="handleSubmitEditing()"
          *ngIf="!isEditingDisabled && ifCreator" [ngStyle]="{'vertical-align': 'text-bottom'}">
          <mat-icon color="primary" [ngStyle]="{'font-size': '30px'}">done</mat-icon>
        </button>
      </h2>



      <table mat-table [dataSource]="dataSource" class="chart team-chart mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let member">

            <input value={{member.name}} [disabled]="isEditingDisabled ? true : null">

          </td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let member">

            <input value={{member.role}} [disabled]="isEditingDisabled ? true : null">

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <div class='no-team' *ngIf="!dataSource">No team members were specified.
      </div>

      <button mat-mini-fab aria-label="Example icon-button with a heart icon" color="primary" class="add-new-player-btn"
        *ngIf="!isEditingDisabled">
        <mat-icon>add</mat-icon>
      </button>

    </section>

    <section class="player-profile__games-attended">

      <h2 class="title">
        Tournaments attended
      </h2>

      <app-tournos-list [items]="items"></app-tournos-list>

    </section>
    <section class="player-profile__settings" *ngIf="ifCreator">
      <div class="player-profile__settings-step">
        <h2 class="title">
          Delete player
        </h2>
        <p class="player-profile__description">
          Once you delete a player, there is no going back. Please be certain.
        </p>

        <button mat-raised-button color="warn" class="delete-player-btn btn hightlighted-btn btn_delete">
          Delete this tournament
        </button>
      </div>
    </section>
  </div>
</div>
