<h1 hidden>
    Player NAME's profile
</h1>
<div class="background-container mdc-card__media"
    style="background-image: url(&quot;.././assets/images/games-wp/basketball.jpg&quot;);">
</div>

<div class="player-profile__header">
    <div class="container-center">
        <div class="player-profile__userpic">
            <img src=".././assets/images/avatars/avatar.svg" alt="userpic">
        </div>
        <h2 class="player-profile__header-title">
            Tigers
        </h2>
    </div>
</div>

<div class="regular-wrapper">
    <div class="container-center">
        <section class="player-profile__info">
            <div class="player-profile__info-item">
                <mat-icon matSuffix>group</mat-icon>
                <label>Type: </label>
                <mat-form-field class="form-input">
                    <input matInput disabled value="Team">
                </mat-form-field>
            </div>

            <div class="player-profile__info-item">
                <mat-icon matSuffix>videogame_asset</mat-icon>
                <label>Game: </label>
                <mat-form-field class="form-input">
                    <input matInput disabled value="Basketball">
                </mat-form-field>
            </div>

            <div class="player-profile__info-item">
                <mat-icon matSuffix>stars</mat-icon>
                <label>Points in total: </label>
                <mat-form-field class="form-input">
                    <input matInput disabled value="148">
                </mat-form-field>
            </div>

            <div class="player-profile__info-item">
                <mat-icon matSuffix>play_circle_filled</mat-icon>
                <label>Games in total: </label>
                <mat-form-field class="form-input">
                    <input matInput disabled value="6">
                </mat-form-field>
            </div>

            <div class="player-profile__info-item">
                <mat-icon matSuffix>play_circle_filled</mat-icon>
                <label>Wins in total: </label>
                <mat-form-field class="form-input">
                    <input matInput disabled value="3">
                </mat-form-field>
            </div>

            <div class="player-profile__info-item">
                <mat-icon matSuffix>public</mat-icon>
                <label>Country: </label>
                <mat-form-field class="form-input">
                    <input matInput disabled value="USA">
                </mat-form-field>
            </div>

        </section>

        <section class="player-profile__details">
            <h2 class="title">
                Team members
            </h2>

            <table mat-table [dataSource]="dataSource" class="chart team-chart mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </section>
        <section class="player-profile__games-attended">

            <h2 class="title">
                Tournaments attended
            </h2>

            <app-tournos-list></app-tournos-list>

        </section>
    </div>
</div>