@import "../../../dist/bundle.css";
@import "../tournos-search/tournos-search.css";

.background-container {
  height: 30vh;
  width: 100vw;
}

.mdc-card__media {
  background-position: 0 30%;
}

.players-profile__header {
  padding: 2vh 0 2vh;
  margin: 0;
  height: 12vh;
  background-color: #272d3542;
}

.players-profile__header h2 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-left: 19vh;
  margin-top: 0;
}

.players-profile__header .container-center {
  flex-direction: row;
  position: relative;
  height: 100%;
}

.players-profile__userpic {
  margin-left: 4%;
  margin-top: 1%;
  position: absolute;
  top: -5vh;
  left: 0;
}

.players-profile__userpic img {
  padding: 10px;
  width: auto;
  height: 9vh;
  border-radius: 50%;
  border: 3px solid #ebc000;
  background-color: rgba(255, 255, 255, 0.7);
}

.player-profile__info {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  max-width: 85%;
}

.player-profile__info-item .form-input {
  width: 75%;
  float: right;
  margin-bottom: 0.5%;
  height: 40px;
  max-width: 500px;
  padding-bottom: 8px;
}

.player-profile__info-item i {
  font-size: 20px;
  padding-right: 5px;
}

.chart {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .main .container-center {
    width: 75vw;
  }

  .player-profile__info {
    max-width: 90%;
  }

  .player-profile__info-item .form-input {
    max-width: 90%;
  }
}

@media screen and (max-width: 980px) {
  .main .container-center {
    width: 90vw;
  }

  .players-profile__header h2 {
    font-size: 2.2rem;
    line-height: 3.8rem;
  }

  .playerprofile__info {
    max-width: 90%;
  }
}
