<h1 hidden>
    Player NAME's profile
</h1>
<div class="background-container mdc-card__media"
    style="background-image: url(&quot;.././assets/images/games-wp/basketball.jpg&quot;);">
</div>

<div class="player-profile__header">
    <div class="container-center">
        <div class="player-profile__userpic">
            <img src=".././assets/images/avatars/avatar.svg" alt="userpic">
        </div>
        <h2 class="player-profile__header-title">
            Tigers
        </h2>
    </div>
</div>

<div class="regular-wrapper">
    <div class="container-center">
        <section class="player-profile__info">
            <div class="player-profile__info-item">
                <i class="material-icons" title="Game">group</i>
                <label for="game">Type: </label>
                <div class="form-input mdc-text-field mdc-text-field--disabled">
                    <input class="mdc-text-field__input" id="game" autocomplete="off" value="Team"
                        style="color: #fff;" disabled>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>
            <div class="player-profile__info-item">
                <i class="material-icons" title="End date of tournament">videogame_asset</i>
                <label for="start-date">Game: </label>
                <div class="form-input mdc-text-field mdc-text-field--disabled">
                    <input class="mdc-text-field__input" id="start-date" autocomplete="off" value="Basketball"
                        style="color: #fff;" disabled>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>
            <div class="player-profile__info-item">
                <i class="material-icons" title="End date of tournament">stars</i>
                <label for="end-date">Points in total: </label>
                <div class="form-input mdc-text-field mdc-text-field--disabled">
                    <input class="mdc-text-field__input" id="end-date" autocomplete="off" value="123"
                        style="color: #fff;" disabled>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>

            <div class="player-profile__info-item">
                <i class="material-icons" title="Team">play_circle_filled</i>
                <label for="participants">Games in total: </label>
                <div class="form-input mdc-text-field mdc-text-field--disabled">
                    <input class="mdc-text-field__input" id="participants" autocomplete="off" value="12"
                        style="color: #fff;" disabled>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>
            <div class="player-profile__info-item">
                    <i class="material-icons" title="Team">play_circle_filled</i>
                    <label for="participants">Wins in total: </label>
                    <div class="form-input mdc-text-field mdc-text-field--disabled">
                        <input class="mdc-text-field__input" id="participants" autocomplete="off" value="2"
                            style="color: #fff;" disabled>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
            <div class="player-profile__info-item">
                <i class="material-icons" title="Country">public</i>
                <label for="country">Country: </label>
                <div class="form-input mdc-text-field mdc-text-field--disabled">
                    <input class="mdc-text-field__input" id="country" autocomplete="off" value="Russia"
                        style="color: #fff;" disabled>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>

        </section>

        <section class="player-profile__details">
            <h2 class="title">
                Team members
            </h2>
            <div class="team-chart chart mdc-data-table">
                <table class="mdc-data-table__table" aria-label="Participants chart">
                    <thead>
                        <tr class="mdc-data-table__header-row">
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">No.</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Name</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Role</th>
                        </tr>
                    </thead>
                    <tbody class="mdc-data-table__content">
                        <tr class="mdc-data-table__row">
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">1.</td>
                            <td class="mdc-data-table__cell ">Bob</td>
                            <td class="mdc-data-table__cell ">Point guard</td>
                        </tr>
                        <tr class="mdc-data-table__row">
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">2.</td>
                            <td class="mdc-data-table__cell ">Denis</td>
                            <td class="mdc-data-table__cell ">Shooting guard</td>
                        </tr>
                        <tr class="mdc-data-table__row">
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">3.</td>
                            <td class="mdc-data-table__cell ">Steve</td>
                            <td class="mdc-data-table__cell ">Small forward</td>
                        </tr>
                        <tr class="mdc-data-table__row">
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">4.</td>
                            <td class="mdc-data-table__cell ">Keith</td>
                            <td class="mdc-data-table__cell ">Power forward</td>
                        </tr>
                        <tr class="mdc-data-table__row">
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">5.</td>
                            <td class="mdc-data-table__cell ">Li</td>
                            <td class="mdc-data-table__cell ">Center</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="player-profile__games-attended">
            <h2 class="title">
                Tournaments attended
            </h2>
            <div class="tournos-list">
                <div class="grid-card tournos-list__card mdc-card">
                    <div class="mdc-card__media mdc-card__media--16-9"
                        style="background-image: url(&quot;.././assets/images/games-wp/football.jpg&quot;);">
                    </div>
                    <p class="grid-card__title">
                        ROTTERDAM 2019
                    </p>
                    <div class="grid-card__info">
                        <ul>
                            <li class="grid-card__info-game">
                                <i class="material-icons" title="Game">videogame_asset</i>
                                <span>Football</span>
                            </li>
                            <li class="grid-card__info-participants">
                                <i class="material-icons" title="No. of participants">group</i>
                                <span><span>22</span> participants</span>
                            </li>
                            <li class="grid-card__info-end-date">
                                <i class="material-icons" title="End date of tournament">calendar_today</i>
                                <span>05 October 2019</span>
                            </li>
                        </ul>
                    </div>

                    <div class="grid-card__actions mdc-card__actions">
                        <div class="mdc-card__action-buttons">
                            <a class="btn mdc-button mdc-button--outlined mdc-button mdc-card__action mdc-card__action--button"
                                href="../tourno-profile/tourno-profile.html">View
                                Details</a>
                        </div>
                        <div class="mdc-card__action-icons">
                            <button
                                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
                                <i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="grid-card tournos-list__card mdc-card">
                    <div class="mdc-card__media mdc-card__media--16-9"
                        style="background-image: url(&quot;.././assets/images/games-wp/dota2.jpg&quot;);">
                    </div>
                    <p class="grid-card__title">
                        LAPASAN DOTA2 SK TOURNAMENT
                    </p>
                    <div class="grid-card__info">
                        <ul>
                            <li class="grid-card__info-game">
                                <i class="material-icons" title="Game">videogame_asset</i>
                                <span>DOTA 2</span>
                            </li>
                            <li class="grid-card__info-participants">
                                <i class="material-icons" title="No. of participants">group</i>
                                <span><span>4</span> participants</span>
                            </li>
                            <li class="grid-card__info-end-date">
                                <i class="material-icons" title="End date of tournament">calendar_today</i>
                                <span>29 August 2019</span>
                            </li>
                        </ul>
                    </div>

                    <div class="grid-card__actions mdc-card__actions">
                        <div class="mdc-card__action-buttons">
                            <a class="btn mdc-button mdc-button--outlined mdc-button mdc-card__action mdc-card__action--button"
                                href="../tourno-profile/tourno-profile.html">View
                                Details</a>
                        </div>
                        <div class="mdc-card__action-icons">
                            <button
                                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
                                <i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
