@import "@material/button/mdc-button.scss";
@import "@material/tab-bar/mdc-tab-bar.scss";
@import "@material/tab-scroller/mdc-tab-scroller.scss";
@import "@material/tab-indicator/mdc-tab-indicator.scss";
@import "@material/tab/mdc-tab.scss";

html,
body {
  background-color: #303841;
  font-family: Open Sans, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 1.5rem;

  margin: 0;
  padding: 0;

  min-width: 1200px;
}

a {
  /* text-decoration: none; */
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

h1 {
  font-family: Source Sans Pro;
  font-size: 3em;
  line-height: 5rem;
  font-weight: 700;
}

h2 {
  font-family: Source Sans Pro;
  font-size: 2.5em;
  line-height: 5rem;
  font-weight: 700;
}

h3 {
  font-family: Source Sans Pro;
  font-size: 1.8em;
  line-height: 5rem;
  font-weight: 700;
}

h4 {
  font-family: Source Sans Pro;
  font-size: 1.5em;
  font-weight: 700;
}

h5 {
  font-family: Source Sans Pro;
  font-size: 1.3em;
  font-weight: 700;
}

h6 {
  font-family: Source Sans Pro;
  font-size: 1.2em;
  font-weight: 700;
}

.main-header {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #3a4750;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
}

.main-header__logo {
  margin-top: 8px;
  margin-left: 10px;
}

.site-nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.site-nav__tab {
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  @include mdc-tab-text-label-color(#fff);
  @include mdc-tab-states-color(#fff);
  @include mdc-tab-indicator-underline-color(#ebc000);
}

.container-center {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}





.main {
  margin-bottom: 35px;
}

// .landing > .main {
//   background-image: url("img/background-pic.jpg");
// }

.landing > .main section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.promo__title {
  margin-top: 100px;
  margin-bottom: 50px;
}

.promo__btn {
  margin-bottom: 70px;
}

.btn {
  font-weight: 700;
  @include mdc-button-outline-color(#ebc000);
  @include mdc-button-ink-color(#fff);
  @include mdc-states(#fff);
}

.highlighted-btn {
  font-weight: 700;
  @include mdc-button-container-fill-color(#ebc000);
  @include mdc-button-ink-color(#303841);
  @include mdc-states(#fff);
}




.tournos-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.main-footer {
  border-top: 1px solid #3a4750;
}

.main-footer .container-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 3.8em;
    font-weight: 600;
    line-height: 7rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 3.3em;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 2.6em;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 2rem;
  }
  h4 {
    font-size: 2.3em;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 2rem;
  }
  h5 {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
  h6 {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
  html,
  body {
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
}
