.add-new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
}

.add-new .row {
  position: relative;
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  margin-bottom: 3%;
}

.add-player-btn {
  margin: 5% 0;
  align-self: center;
}

@media screen and (max-width: 600px) {
}
