.add-new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
}

.add-player-btn {
  margin: 5% 0;
}

.add-new-player-btn {
  align-self: center;
}

@media screen and (max-width: 600px) {
}
