<div class="add-new">
  <div class="add-player">
    <label for="player-name-1">
      <span class="add-player__value">1.</span>
      Name: </label>
    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
      <i class="material-icons mdc-text-field__icon">person</i>
      <input class="mdc-text-field__input" id="player-name-1" required>
      <div class="mdc-line-ripple"></div>
    </div>
    <label for="add-avatar-1"> Add avatar: </label>
    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
      <input type="file" class="mdc-text-field__input" id="add-avatar-1">
    </div>
  </div>
  <button class="add-player-btn btn_round material-icons mdc-icon-button">add</button>
</div>
