<div class="add-new">
  <div class="add-player">

    <label>
      <span class="add-player__value">1.</span>
      Name:
    </label>
    <mat-form-field class="form-input">
      <input matInput>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <label>
      Add avatar:
    </label>
    <mat-form-field class="form-input">
      <input matInput >
      <!-- ADD TYPE FILE -->
    </mat-form-field>
  </div>

  <button class="add-player" mat-fab aria-label="Add more">
      <mat-icon>add</mat-icon>
  </button>

</div>