<footer class=" main-footer regular-wrapper">
  <div class="container-center">
    <div class="footer-top">
      <a class="main-footer__logo" [routerLink]="['/main']">
        <img src="/assets/images/avatars/flaming.svg" width="100" height="50" alt="Logo image">
        <img src="/assets/images/image2vector.svg" alt="Logo image">
      </a>
    </div>

    <div class="footer-middle">
      <section class="main-footer__nav">
        <h4>
          Discover new
        </h4>
        <ul>

          <li><a [routerLink]="['/creation']" *ngIf="isLogged$ | async">Create new</a></li>
          <li><a [routerLink]="['/tournos-search']">Search tournaments</a></li>
          <li><a [routerLink]="['/players-search']">Search players</a></li>
        </ul>
      </section>

      <section class="main-footer__profile" *ngIf="!(isLogged$ | async)">
        <h4>
          Join WiX
        </h4>
        <ul>
          <li><a [routerLink]="['/auth']">Log in</a></li>
          <li><a [routerLink]="['/auth']">Sign up</a></li>
        </ul>
      </section>

      <section class="main-footer__profile" *ngIf="isLogged$ | async">
        <h4>
          Your WiX
        </h4>
        <ul>
          <li><a [routerLink]="['/settings']">Profile Settings</a></li>
          <li><a href='#' (click)=tryLogout()>Log Out</a></li>
        </ul>
      </section>

      <section class="main-footer__social">
        <h4>
          Follow us!
        </h4>
        <ul>
          <li><a class="main-footer__fb-social-btn" href="https://facebook.com">
            </a></li>
          <li><a class="main-footer__insta-social-btn" href="https://instagram.com">
            </a></li>
          <li><a class="main-footer__vk-social-btn" href="https://vk.com">
            </a></li>
        </ul>
      </section>

    </div>
    <div class="footer-bottom">
      <section class="footer-bottom__credits"> Icons made by
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is
        licensed
        by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
          BY</a>
      </section>
      <section class="footer-bottom__authority">
        2019 WiX, with 💛 from St.Petersburg
      </section>
    </div>

  </div>
</footer>
