@import "src/styles.scss";

.bracket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  margin: 5% 0 7%;
  cursor: move;
}

::ng-deep.round {
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .game.odd {
    margin-bottom: 2rem;
  }

  &.quarterfinals {
    .game {
      margin-bottom: 9rem;
    }
    .game:first-of-type {
      margin-top: 6rem;
    }
  }

  //only in case quarterfinals are preceeding
  &.quarterfinals ~ &.semifinals {
    .game.even {
      margin-bottom: 24rem;
    }
  }

  &.semifinals {
    .game.even {
      margin-bottom: 9rem;
    }
  }

  &.finals {
    .game.odd {
      margin-bottom: 0;
    }
    .winner {
      position: relative;
    }
    .winner::before {
      content: "🏅";
      top: 8px;
      right: 8px;
      position: absolute;
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 795px) {
  .bracket {
    display: grid;
  }

  .round {
    .quarterfinals,
    .semifinals,
    .finals {
      margin-bottom: 8%;
    }
  }

  .round-title {
    display: block;
    font-size: 1.5rem;
  }
}
