<div class="parallax-wrapper promo__parallax">

    <section class="promo">
        <div class="container-center">
            <h1 class="promo__title title">
                Be a winner. With WiX
            </h1>
            <a class="mdc-button mdc-button--unelevated promo__btn btn highlighted-btn" href="./app/auth/auth.html">
                Create your first tournament
            </a>
            <i class="go-further-icon material-icons">
                expand_more
            </i>
        </div>
    </section>

</div>

<div class="regular-wrapper">

    <section class="features">
        <div class="container-center">
            <h2 class="features__title title">
                Discover our best features and enjoy your game
            </h2>
            <ul class="features__list">
                <li class="features__list-item">
                    <p>
                        Create a tournament bracket
                    </p>
                </li>
                <li class="features__list-item">
                    <p>
                        Add and manage participants of your game
                    </p>
                </li>
                <li class="features__list-item">
                    <p>
                        Keep track of scores and game results
                    </p>
                </li>
            </ul>
        </div>
    </section>

    <section class="community parallax-wrapper">
        <div class="community-shadow">
            <h2 class="community__title title">
                Join our community and explore new every day
            </h2>
            <ul class="community__btns">
                <li><a class="mdc-button mdc-button--outlined btn"
                        href="./app/tournos-search/tournos-search.html">Search tournaments</a>
                </li>
                <li><a class="mdc-button mdc-button--outlined btn"
                        href="./app/players-search/players-search.html">Search players</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="registration">
        <h2 class="registration__title title">
            Free and fully yours to try
        </h2>
        <h3 class="registration__sub-title">
            Sign in in minutes and start right away
        </h3>
        <a class="registration__btn mdc-button mdc-button--unelevated highlighted-btn" href="./app/auth/auth.html">Sign
            in</a>

    </section>

    <section class="popular-games">
        <div class="accordion">
            <ul>
                <li tabindex="0">
                    <div>
                        <a>
                            <h2>Basketball</h2>
                        </a>
                    </div>
                </li>
                <li tabindex="0">
                    <div>
                        <a>
                            <h2>Football</h2>
                        </a>
                    </div>
                </li>
                <li tabindex="0">
                    <div>
                        <a>
                            <h2>Ice Hockey</h2>
                        </a>
                    </div>
                </li>
                <li tabindex="0">
                    <div>
                        <a>
                            <h2>Rugby</h2>
                        </a>
                    </div>
                </li>
                <li tabindex="0">
                    <div>
                        <a>
                            <h2>League of Legends</h2>
                        </a>
                    </div>
                </li>
                <li tabindex="0">
                    <div>
                        <a>
                            <h2>DOTA2</h2>
                        </a>
                    </div>
                </li>
                <li tabindex="0">
                    <div>
                        <a>
                            <h2>CS: Go</h2>
                        </a>
                    </div>
                </li>
                <li tabindex="0">
                    <div>
                        <a>
                            <h2>Chess</h2>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>