<div class="regular-wrapper">
    <div class="container-center">
        <h2 class="main-title">
            Profile settings
        </h2>
        <form class="profile-settings profile-settings__personal-info">
            <div class="profile-settings__step">
                <h3 class="profile-settings__step-title">
                    Personal information
                </h3>
                <div class="profile-settings__step-content">

                    <label for="username-input2">Userame:</label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">person</i>
                        <input type="text" class="mdc-text-field__input" id="username-input2" value="John Doe">
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <label for="email-input">Email:</label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">person</i>
                        <input type="email" class="mdc-text-field__input" id="email-input"
                            value="JohnDoe@gmail.com">
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <label for="country-selector"> Country: </label>
                    <div class="form-selector mdc-select mdc-select--with-leading-icon">
                        <i class="material-icons mdc-select__icon" tabindex="0" role="button">public</i>
                        <i class="mdc-select__dropdown-icon"></i>
                        <select class="mdc-select__native-control" id="country-selector">
                            <option value="rus">
                                Russia
                            </option>
                            <option value="ua" selected>
                                USA
                            </option>
                            <option value="de">
                                Germany
                            </option>
                        </select>
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <label for="add-avatar"> Change avatar: </label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <input type="file" class="mdc-text-field__input" id="add-avatar">
                    </div>
                </div>
                <button type="submit" name="submit"
                    class="profile-settings__submit-btn mdc-button mdc-button--outlined btn">Submit
                    changes
                </button>
            </div>
        </form>

        <form class="profile-settings profile-settings__password-management">
            <div class="profile-settings__step">
                <h3 class="profile-settings__step-title">
                    Password management
                </h3>
                <div class="profile-settings__step-content">

                    <label for="fake-pass" style="display: none;">Password</label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon"
                        style="display: none;">
                        <i class="material-icons mdc-text-field__icon">vpn_key</i>
                        <input type="password" class="mdc-text-field__input" id="fake-pass">
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <label for="old-pass">Old password:</label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">vpn_key</i>
                        <input type="password" class="mdc-text-field__input" id="old-pass">
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <label for="new-pass1">New password:</label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">vpn_key</i>
                        <input type="password" class="mdc-text-field__input" id="new-pass1">
                        <div class="mdc-line-ripple"></div>
                    </div>

                    <label for="new-pass2">Repeat new password:</label>
                    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
                        <i class="material-icons mdc-text-field__icon">vpn_key</i>
                        <input type="password" class="mdc-text-field__input" id="new-pass2">
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <button type="submit" name="submit"
                    class="profile-settings__submit-btn mdc-button mdc-button--outlined btn">Submit
                    changes
                </button>
            </div>
        </form>

        <form class="profile-settings profile-settings__homepage-options">
            <div class="profile-settings__step">

                <h3 class="profile-settings__step-title">
                    Homepage options
                </h3>

                <div class="profile-settings__step-content profile-settings__step-content_add-player">

                    <label for="homepage-checkboxes"> After login I want to see: </label>
                    <div id="homepage-checkboxes">
                        <div class="mdc-form-field">
                            <div class="radio-btn mdc-radio">
                                <input class="mdc-radio__native-control" type="radio" name="homepage-checkbox"
                                    id="only-mine" checked>
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle" selected></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label for="only-mine"> Only my tournaments </label>
                        </div>
                        <div class="mdc-form-field">
                            <div class="radio-btn mdc-radio">
                                <input class="mdc-radio__native-control" type="radio" name="homepage-checkbox"
                                    id="all" checked required>
                                <div class="mdc-radio__background">
                                    <div class="mdc-radio__outer-circle" selected></div>
                                    <div class="mdc-radio__inner-circle"></div>
                                </div>
                            </div>
                            <label for="all"> All tournaments </label>
                        </div>
                    </div>
                </div>
                <button type="submit" name="submit"
                    class="profile-settings__submit-btn mdc-button mdc-button--outlined btn">Submit
                    changes
                </button>
            </div>
        </form>
    </div>
</div>