@import 'src/styles.scss';

.container-center {
  width: 50vw; 
  max-width: 760px;
}

.login-form {
  margin: 8vh 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mat-tab-group {
  min-height: 850px;
}

.title {
  margin: 8% 0;
}


.login-form__social-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

.social-button {
  background-position: 25px 0px;
  color: $wix-color;
  cursor: pointer;
  display: inline-block;
  height: 55px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 3px;
  margin-bottom: 3%;
  margin-bottom: 3%;
  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.4px;
}

.facebook-connect {
  border-color: rgba(60, 90, 154, 0.85);
  background: rgba(60, 90, 154, 0.85)
    url("https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook-white.svg?sanitize=true")
    no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
  width: 47%;

  &:hover {
    background-color: rgba(77, 102, 156, 0.85);
  }
}

.facebook-connect span {
  box-sizing: border-box;
  color: $wix-color;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.google-connect {
  border-color: rgba(220, 74, 61, 0.85);
  background: rgba(220, 74, 61, 0.85)
    url("https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png")
    no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  width: 47%;
  padding-left: 0;
  &:hover {
    background-color: rgba(214, 92, 81, 0.85);
  }
}

.google-connect span {
  box-sizing: border-box;
  color: $wix-color;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.tab {
  margin-left: 0;
}

.login-form__login {
  width: 100%;
}

.sign-up-tab {
  display: block;
}

.log-in-tab {
  display: none;
}

.login-form__login,
.login-form__signup {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  width: 100%;
}



.login-form__btn {
  width: 100%;
  height: 55px;
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {

  .social-button {
    text-align: center;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1000px) {
  .social-button {
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  .container-center {
    width: 75vw;
    max-width: 75vw;
  }
}

@media screen and (max-width: 670px) {
  .login-form__tab .title {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 550px) {

  .container-center {
    width: 90vw;
    max-width: 90vw;
  }
}