@import "src/styles.scss";

.participants {
  border-radius: 0.25rem;
  overflow: hidden;

  .participant {
    display: flex;
    flex-direction: row;
    color: #fff;
    border-left: 0.25rem solid $wix-color;
    background: $wix-light-foreground;
    width: 20vw;
    max-width: 240px;
    height: 3rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);

    &:not(:last-child) {
      border-bottom: thin solid $wix-light-foreground;
    }

    .name {
      margin: 0 1.25rem;
      line-height: 3;
      font-size: 1rem;
    }
    .points {
      margin-right: 1rem;
      margin-left: auto;
      margin-top: 3px;
      padding: 0;
      padding-left: 5px;
      line-height: 3;
      font-size: 1rem;
      color: $wix-background;
      width: 2rem;
      height: 80%;
      background-color: $wix-color;
      border: $wix-primary solid 1px;
      border-radius: 5px;

      &:disabled {
        background-color: transparent;
        color: $wix-color;
        border: none;
      }
    }
  }
  .participant.winner {
    color: $wix-primary;
    border-color: $wix-primary;
  }
}

@media screen and (max-width: 795px) {
  .participants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .participant {
      width: 100%;
      border-bottom: none !important;
    }
    .participant:not(:first-child) {
      margin-left: 2%;
    }
  }
}
