<div class="regular-wrapper">
    <div class="container-center">

        <h1 class="site-title title">
            Tournaments
        </h1>

        <form class="search-form">
            <div class="search-form__search search-field">
                <mat-form-field class="form-input">
                    <input matInput (keyup)="trySearchByName($event.target.value)" id="tournos-search-input">
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-hint align="start"><strong>Start typing tournament name</strong> </mat-hint>
                </mat-form-field>
            </div>

            <div class="search-form__checkboxes">
                <mat-checkbox>Only mine</mat-checkbox>
            
                <mat-checkbox>Favourites</mat-checkbox>
            </div>


            <div class="search-form__selectors">

                <mat-form-field class="search-field" floatLabel="never">
                    <mat-label>Game:</mat-label>
                    <mat-select (selectionChange)="tryFilterByGame($event.value)">
                        <mat-option value="">All</mat-option>
                        <mat-option value="football">Football</mat-option>
                        <mat-option value="basketball">Basketball</mat-option>
                        <mat-option value="rugby">Rugby</mat-option>
                        <mat-option value="baseball">Baseball</mat-option>
                        <mat-option value="hockey">Hockey</mat-option>
                        <mat-option value="tennis">Tennis</mat-option>
                        <mat-option value="chess">Chess</mat-option>
                        <mat-option value="counterstrike">CS:Go</mat-option>
                        <mat-option value="dota2">DOTA 2</mat-option>
                        <mat-option value="fifa">FIFA</mat-option>
                        <mat-option value="pubg">PUBG</mat-option>
                        <mat-option value="other">Other</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="search-field" floatLabel="never">
                    <mat-label>Satus:</mat-label>
                    <mat-select (selectionChange)="tryFilterByStatus($event.value)">
                        <mat-option value="" selected>
                            All
                        </mat-option>
                        <mat-option value="pending">
                            Pending
                        </mat-option>
                        <mat-option value="in progress">
                            In Progress
                        </mat-option>
                        <mat-option value="completed">
                            Completed
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>

        <section class="tournos-search-result">

            <h2 hidden>
                Tournaments list
            </h2>

            <app-tournos-list [items$]="items$" [isLoading$]="isLoading$"></app-tournos-list>
            <app-loading-spinner *ngIf="isLoading$ | async"> </app-loading-spinner>

        </section>
    </div>