@import "../../../dist/bundle.css";

.main .container-center {
  width: 70vw;
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  margin-bottom: 5%;
  border-bottom: 1px solid rgba(48, 56, 65, 0.8);
}

.search-form__search {
  flex-grow: 1;
  height: 50px;
  min-width: 255px;
  margin-right: 5%;
  margin-bottom: 3%;
}

.search-form__checkboxes {
  margin-left: auto;
  margin-right: 15px;
}

.search-form__selectors {
  margin-bottom: 3%;
}

.form-selector {
  margin-left: 15px;
  height: 50px;
}

.form-selector:first-of-type {
  margin-left: 0;
}

.tournos-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  padding: 0;
  margin-bottom: 10%;
}

@media screen and (max-width: 1280px) {
  .search-form__selectors {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }

  .form-selector {
    width: 48%;
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 800px) {
  .main .container-center {
    width: 90vw;
    padding: 0;
  }

  .tournos-list {
    grid-template-columns: 1fr 1fr;
  }

  .search-form__search,
  .search-form__checkboxes,
  .search-form__selectors,
  .form-selector {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .tournos-list {
    grid-template-columns: 1fr;
  }
}
