<div class="sorting-header" role="header">

  <div class="sorting-header__userpic">
  </div>

  <div class="sorting-header__title">
    <div>Name
    </div>
  </div>

  <div class="sorting-header__game">
    Game
  </div>

  <div class="sorting-header__country">
    Country
  </div>

  <div class="sorting-header__points">
    <div>Points
    </div>

  </div>

  <div class="sorting-header__games">
    <div>Games
    </div>
  </div>

  <div class="sorting-header__games-won">
    <div>Won
    </div>
  </div>


  <div class="sorting-header__buttons">
    <i class="up material-icons">
      arrow_drop_up
    </i>
    <i class="down material-icons">
      arrow_drop_down
    </i>
  </div>

</div>

<div class="players-list" role="table">

    <app-player-card></app-player-card>
    <app-player-card></app-player-card>
    <app-player-card></app-player-card>
    <app-player-card></app-player-card>
    <app-player-card></app-player-card>
    <app-player-card></app-player-card>
    <app-player-card></app-player-card>
    <app-player-card></app-player-card>

</div>
