<div class="sorting-header" role="header">

  <div class="sorting-header__userpic">
  </div>

  <div class="sorting-header__title">
    <button (click)="handleSorting($event, 'name', 'letters')">Name
    </button>
  </div>

  <div class="sorting-header__game">
    <button disabled>Game
    </button>
  </div>

  <div class="sorting-header__country">
    <button disabled>Country
    </button>
  </div>

  <div class="sorting-header__points">
    <button (click)="handleSorting($event, 'points', 'numbers')">Points
    </button>

  </div>

  <div class="sorting-header__games">
    <button (click)="handleSorting($event, 'games', 'numbers')">Games
    </button>
  </div>

  <div class="sorting-header__games-won">
    <button (click)="handleSorting($event, 'won', 'numbers')">Won
    </button>
  </div>


  <div class="sorting-header__buttons">
    <i class="up material-icons" [style.color]="order ? 'yellow' : 'white'">
      arrow_drop_up
    </i>
    <i class="down material-icons" [style.color]="order ? 'white' : 'yellow'">
      arrow_drop_down
    </i>
  </div>

</div>

<div class="players-list" role="table">

  <app-player-card *ngFor="let item of items$ |async" [item]="item"></app-player-card>
  <!-- <div class='no-player' *ngIf="!(items$ | async)">No players were found</div> -->

</div>
