<div class="sorting-header" role="header">

  <div class="sorting-header__userpic">
  </div>

  <div class="sorting-header__title">
    <button class="sortable" (click)="handleSorting($event, 'name', 'letters')">Name
    </button>
  </div>

  <div class="sorting-header__game">
    <button>Game
    </button>
  </div>

  <div class="sorting-header__country">
    <button>Country
    </button>
  </div>

  <div class="sorting-header__points">
    <button class="sortable" (click)="handleSorting($event, 'points', 'numbers')">Points
    </button>

  </div>

  <div class="sorting-header__games">
    <button class="sortable" (click)="handleSorting($event, 'games', 'numbers')">Games
    </button>
  </div>

  <div class="sorting-header__games-won">
    <button class="sortable" (click)="handleSorting($event, 'wins', 'numbers')">Wins
    </button>
  </div>


  <div class="sorting-header__buttons">
    <i class="up material-icons" [style.color]="order ? 'yellow' : 'white'">
      arrow_drop_up
    </i>
    <i class="down material-icons" [style.color]="order ? 'white' : 'yellow'">
      arrow_drop_down
    </i>
  </div>

</div>

<div class="players-list" role="table">

  <app-player-card *ngFor="let item of items" [item]="item"></app-player-card>

</div>
