<div class="regular-wrapper">
    <div class="container-center">

        <form class="profile-settings profile-settings__password-management" [formGroup]="myForm">
            <div class="profile-settings__step">
                <h3 class="profile-settings__step-title">
                    Password management
                </h3>
                <div class="profile-settings__step-content">

                    <label for="new-pass1">New password:</label>
                    <mat-form-field class="form-input">
                        <input 
                            type="password"
                            matInput 
                            placeholder="Password" 
                            formControlName="password"
                            required>
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-error *ngIf="myForm.get('password').hasError('minlength')">
                            Password must contain at least 8 characters
                        </mat-error>
                    </mat-form-field>

                    <label for="new-pass2">Repeat new password:</label>
                    <mat-form-field class="form-input">
                        <input
                            type="password"
                            matInput 
                            placeholder="Password again"
                            formControlName="confirmPassword">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-error>
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="warning" *ngIf="ifHidePassChange">
                    You are logged in via social media. Changing password is not supported in this case.
                </div>

                <button 
                    mat-raised-button 
                    type="submit" 
                    name="submit"
                    class="profile-settings__submit-btn btn highlighted-btn"
                    (click)="handleUpdatePassword()"
                    [disabled]="ifHidePassChange">
                    Submit changes
                </button>
            </div>
        </form>

        <form class="profile-settings profile-settings__homepage-options">
            <div class="profile-settings__step">

                <h3 class="profile-settings__step-title">
                    Homepage options
                </h3>

                <div class="profile-settings__step-content">

                    <label for="homepage-checkboxes"> After login I want to see: </label>
                    <mat-radio-group class="homepage-checkboxes">
                        <mat-radio-button value="only-mine">Only my tournaments</mat-radio-button>
                        <mat-radio-button value="all" checked>All tournaments</mat-radio-button>
                    </mat-radio-group>
                </div>
                <button mat-raised-button type="submit" name="submit"
                    class="profile-settings__submit-btn btn highlighted-btn">
                    Submit changes
                </button>
            </div>
        </form>
    </div>
</div>