<div class="add-from-list">
  <div class="search-form">
    <div
      class="search-input search-form__search mdc-text-field mdc-text-field--outlined mdc-text-field--no-label mdc-text-field--with-leading-icon">
      <i class="material-icons mdc-text-field__icon">search</i>
      <input type="text" class="mdc-text-field__input" aria-label="Label" placeholder="Start typing to find...">
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
  </div>

  <section class="players-search-result">

    <div class="players-list" role="table">

      <div class="row">

        <app-player-card></app-player-card>

        <button class="add-to-list-btn btn icon-btn_delete btn_round material-icons mdc-icon-button">
          <i class="material-icons">
            add
          </i>
        </button>
      </div>

      <div class="row">

        <app-player-card></app-player-card>

        <button class="add-to-list-btn btn icon-btn_delete btn_round material-icons mdc-icon-button">
          <i class="material-icons">
            add
          </i>
        </button>
      </div>
    </div>
  </section>
</div>
