.search-form {
  margin: 3% 0 5%;
}

.add-from-list .row {
  position: relative;
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  margin-bottom: 3%;
}

@media screen and (max-width: 600px) {
  .search-form {
    margin: 12% 0;
  }
}