.add-from-list .row {
  display: grid;
  grid-template-columns: 93% 7%;
  align-items: center;
  grid-column-gap: 3%;
}

.add-from-list .row {
  grid-template-columns: 100%;
  margin-bottom: 5%;
}

.row {
  position: relative;
}

.add-to-list-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
