<div class="add-from-list">
  <div class="search-field">
      <mat-form-field class="form-input">
          <input matInput>
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint align="start"><strong>Start typing tournament name</strong> </mat-hint>
      </mat-form-field>
  </div>

  <section class="players-search-result">

    <div class="players-list" role="table" *ngIf="players$">

      <div class="row" *ngFor="let player of players$ | async">

        <app-player-card></app-player-card>

        <button class="add-to-list-btn btn icon-btn_delete btn_round material-icons mdc-icon-button">
          <i class="material-icons">
            add
          </i>
        </button>
      </div>

      <div class="row">

        <app-player-card></app-player-card>

        <button class="add-to-list-btn btn icon-btn_delete btn_round material-icons mdc-icon-button">
          <i class="material-icons">
            add
          </i>
        </button>
      </div>
    </div>
  </section>
</div>
