<div class="tourno-creation__step-content tourno-creation__step-content_add-player">

  <h4 class="tourno-creation__step-subtitle">
    Current players
  </h4>

  <p class="tourno-creation__step-description">
    <i class="material-icons">
      error_outline
    </i>
    Add players in order you want to list them or check the checkbox below to let them
    be seeded randomly
  </p>

  <div class="seed-randomly-checkbox">
    <mat-checkbox [(ngModel)]="ifRandom">Seed randomly</mat-checkbox>
  </div>


  <!-- Current players -->
  <app-current-players
    [currentPlayers$]='items$ ? items$ : chosenPlayers$'
    (removeChosenPlayer)="handleRemovePlayerFromList($event)">
  </app-current-players>


  <!-- Add more section -->
  <h4 class="tourno-creation__step-subtitle">
    Add more players
  </h4>

  <p class="tourno-creation__step-description">
    You can either add a player from the list of the players or a
    completely new one!
  </p>

  <div class="add-player-mode-switcher mode-switcher">
    <label>From List</label>
    <mat-slide-toggle (change)="handleChangeView()">
    </mat-slide-toggle>
    <label>Add new</label>
  </div>

  <app-add-from-list [style.display]="showAddNew ? 'none' : 'block'" (newChosenPlayer)="handleAddPlayerToList($event)"></app-add-from-list>

  <app-add-new [style.display]="showAddNew ? 'block' : 'none'" (newChosenPlayer)="handleAddPlayerToList($event)" [tournoInfo]="tournoInfo"></app-add-new>

</div>