h4 {
  margin-top: 120px;
}

.seed-randomly-checkbox,
.add-player-mode-switcher {
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  margin: 6% 0 6%;
}

.add-player-mode-switcher label {
  padding: 0 3%;
}

.tourno-creation__submit-btn {
  width: 40%;
  margin-left: 60%;
  margin-bottom: 8%;
}

@media screen and (max-width: 600px) {
  .seed-randomly-checkbox,
  .add-player-mode-switcher {
    margin: 16% 0 16%;
  }
  
  .tourno-creation__submit-btn {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {

  .add-to-list-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
