@import "../../../dist/bundle.css";


.main .container-center {
  width: 75vw;
  max-width: 900px;
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  margin-bottom: 5%;
  border-bottom: 1px solid rgba(48, 56, 65, 0.8);
}

.search-form__search {
  flex-grow: 1;
  height: 50px;
  min-width: 255px;
  margin-right: 5%;
  margin-bottom: 3%;
}

.search-form__checkboxes {
  margin-left: auto;
  margin-right: 15px;
}

.form-selector {
  margin-left: 15px;
  height: 50px;
}

.form-selector:first-of-type {
  margin-left: 0;
}

.players-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: stretch;
  padding: 0;
  margin-bottom: 10%;
}

.sorting-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 0.8em;
}

.sorting-header__buttons {
  position: relative;
}

.sorting-header__userpic {
  width: 11vw;
  margin: auto 0 auto 0.5%;
  max-width: 85px;
}

.sorting-header__title {
  margin-left: 3%;
  margin-right: 1%;
  padding-left: 5%;
  text-align: center;
}

.sorting-header__title i {
  right: -60%;
}

.sorting-header__game,
.sorting-header__country,
.sorting-header__points,
.sorting-header__games,
.sorting-header__games-won {
  min-width: 8%;
  max-width: 13%;
  margin: auto 0.5%;
  text-align: center;
}

.sorting-header__game,
.sorting-header__country {
  min-width: 11%;
}

.sorting-header__game {
  margin-left: auto;
}

.sorting-header__buttons {
  width: 96px;
  height: 100%;
}
.up {
  position: absolute;
  top: 10%;
  right: 20%;
  font-size: 20px;
}

.down {
  position: absolute;
  top: 30%;
  right: 20%;
  font-size: 20px;
}

.grid-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 9vh;
  max-height: 75px;
  min-height: 55px;
  position: relative;
}

.players-info__userpic {
  margin: auto 0;
  width: 9vw;
  height: 100%;
  max-width: 85px;
}

.players-info__userpic img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto 0;
}

.grid-card__title {
  font-size: 1.1em;
  line-height: 1.3em;
  margin: 0;
  margin-left: 3%;
  margin-right: 1%;
  padding: 0;
}

.grid-card__title i {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 5px;
}

.grid-card__info {
  min-width: 8%;
  max-width: 15%;
  margin: auto 0.5%;
  padding: 0;
  text-align: center;
}

.grid-card__info:nth-of-type(2),
.grid-card__info:nth-of-type(3) {
  min-width: 12%;
}

.grid-card__info:nth-of-type(2) {
  margin-left: auto;
}

.grid-card__actions {
  margin: 0;
  padding: 0;
}
/* .mdc-icon-button {
  width: 35px;
  height: 48px;
} */

@media screen and (max-width: 1200px) {
  .search-form__selectors {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }

  .form-selector {
    width: 48%;
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 900px) {
  .main .container-center {
    width: 90vw;
    padding: 0;
  }

  .grid-card__info {
    font-size: 0.9em;
  }

  .grid-card__title {
    font-size: 1em;
  }

  .grid-card__info:nth-of-type(4),
  .grid-card__info:nth-of-type(5),
  .grid-card__info:nth-of-type(6) {
    min-width: 6%;
  }

  .players-info__userpic {
    width: 10vw;
  }

  .sorting-header__game,
  .sorting-header__country,
  .sorting-header__points,
  .sorting-header__games,
  .sorting-header__games-won {
    min-width: 6.5%;
  }

  .sorting-header__game,
  .sorting-header__country {
    min-width: 9.5%;
  }
}

@media screen and (max-width: 750px) {
  .grid-card__title {
    font-size: 0.9em;
  }

  .players-info {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 650px) {
  .main .container-center {
    width: 95vw;
  }
  
  .search-form__search,
  .search-form__checkboxes,
  .search-form__selectors,
  .form-selector {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }

  .sorting-header__games-won,
  .grid-card__info:nth-of-type(6) {
    display: none;
  }
}

@media screen and (max-width: 500px) {

  .sorting-header div:nth-of-type(1),
  .sorting-header div:nth-of-type(2),
  .sorting-header div:nth-of-type(3),
  .sorting-header div:nth-of-type(4),
  .sorting-header div:nth-of-type(5),
  .sorting-header div:nth-of-type(6),
  .sorting-header div:nth-of-type(7) {
    display: none;
  }

  .sorting-header__buttons {
    margin-left: auto;
  }

  .main .container-center {
    width: 85vw;
  }

  .grid-card {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 50% 25% 15%;
    grid-template-areas: "pic title btns" "game points ." "country games .";
    grid-row-gap: 8px;
    height: 100%;
    max-height: unset;
    text-align: left;
    padding-bottom: 20px;
    align-items: center;
  }

  .players-info {
    font-size: 1.1em;
    min-width: unset;
    max-width: unset;
    margin: auto 5%;
    padding: 0;
    text-align: center;
  }

  .players-info__userpic {
    grid-area: pic;
    width: 23vw;
    margin: 0;
  }

  .grid-card__title {
    grid-area: title;
    font-size: 1em;
  }

  .grid-card__info {
    padding-left: 20%;
  }

  .grid-card__info:nth-of-type(2) {
    grid-area: game;
    margin-left: unset;
  }
  .grid-card__info:nth-of-type(3) {
    grid-area: country;
  }
  .grid-card__info:nth-of-type(4) {
    grid-area: points;
  }
  .grid-card__info:nth-of-type(5) {
    grid-area: games;
  }
  .grid-card__info:nth-of-type(6) {
    display: none;
  }
  .grid-card__actions {
    grid-area: btns;
  }
  .grid-card__actions a {
    position: absolute;
    top: 40%;
    right: 0;
  }
}
