<div class="regular-wrapper">
    <div class="container-center">
        <h1 class="site-title title">
            Players
        </h1>
        <form class="search-form">
            <div
                class="search-input search-form__search mdc-text-field mdc-text-field--outlined mdc-text-field--no-label mdc-text-field--with-leading-icon">
                <i class="material-icons mdc-text-field__icon">search</i>
                <input type="text" class="mdc-text-field__input" aria-label="Label"
                    placeholder="Search for tournaments">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="search-form__checkboxes">

                <div class="mdc-form-field">
                    <div class="checkbox mdc-checkbox">
                        <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox2" />
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path" fill="none"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                    <label for="checkbox2">Favourites</label>
                </div>
            </div>

            <div class="search-form__selectors">
                <div class="form-selector mdc-select">
                    <i class="mdc-select__dropdown-icon"></i>
                    <select class="mdc-select__native-control">
                        <option value="all" selected>
                            All
                        </option>
                        <option value="football">
                            Football
                        </option>
                        <option value="basketball">
                            Basketball
                        </option>
                        <option value="hockey">
                            Hockey
                        </option>
                        <option value="rugby">
                            Rugby
                        </option>
                        <option value="tennis">
                            Tennis
                        </option>
                        <option value="chess">
                            Chess
                        </option>
                        <option value="csgo">
                            CS:Go
                        </option>
                        <option value="dota2">
                            Dota2
                        </option>
                        <option value="lol">
                            League of Legends
                        </option>
                        <option value="pubg">
                            PUBG
                        </option>
                    </select>
                    <label class="mdc-floating-label mdc-floating-label--float-above">Game</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <div class="form-selector mdc-select">
                    <i class="mdc-select__dropdown-icon"></i>
                    <select class="mdc-select__native-control">
                        <option value="all">
                            All
                        </option>
                        <option value="rus">
                            Russia
                        </option>
                        <option value="ua">
                            USA
                        </option>
                        <option value="de">
                            Germany
                        </option>

                        <option value="en">
                            England
                        </option>

                        <option value="fr">
                            France
                        </option>
                        <option value="ukr">
                            Ukraine
                        </option>
                    </select>
                    <label class="mdc-floating-label mdc-floating-label--float-above">Country</label>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>
        </form>


        <section class="players-search-result">
            <h2 hidden>
                Players list
            </h2>

            <div class="sorting-header" role="header">

                <div class="sorting-header__userpic">
                </div>

                <div class="sorting-header__title">
                    <div>Name
                    </div>
                </div>

                <div class="sorting-header__game">
                    Game
                </div>

                <div class="sorting-header__country">
                    Country
                </div>

                <div class="sorting-header__points">
                    <div>Points
                    </div>

                </div>

                <div class="sorting-header__games">
                    <div>Games
                    </div>
                </div>

                <div class="sorting-header__games-won">
                    <div>Won
                    </div>
                </div>


                <div class="sorting-header__buttons">
                    <i class="up material-icons">
                        arrow_drop_up
                    </i>
                    <i class="down material-icons">
                        arrow_drop_down
                    </i>
                </div>

            </div>

            <div class="players-list" role="table">


                <div class="grid-card players-list__card mdc-card" role="row">

                    <div class="players-info players-info__userpic" role="cell">
                        <img src=".././assets/images/avatars/team4.jpeg" alt="userpic">
                    </div>

                    <p class="grid-card__title" role="cell">
                        <i class="material-icons" title="Team">group</i>
                        Mad bears
                    </p>

                    <div class="grid-card__info">
                        <div class="players-info players-info__game" role="cell">
                            <span>Football</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__game" role="cell">
                            <span>Germany</span>
                        </div>
                    </div>

                    <div class="grid-card__info">
                        <div class="players-info players-info__points" role="cell">
                            <span class="players-info__points-value">95</span>
                        </div>
                    </div>

                    <div class="grid-card__info">
                        <div class="players-info players-info__games" role="cell">
                            <span class="players-info__games-value">13</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__games-won" role="cell">
                            <span>5</span>
                        </div>
                    </div>

                    <div class="grid-card__actions mdc-card__actions">
                        <div class="mdc-card__action-icons">
                            <button
                                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
                                <i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                            </button>

                            <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                href="../player-profile/player-profile.html">
                                <i class="material-icons">
                                    chevron_right
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid-card players-list__card mdc-card" role="row">

                    <div class="players-info players-info__userpic" role="cell">
                        <img src=".././assets/images/avatars/face4.jpeg" alt="userpic">
                    </div>
                    <p class="grid-card__title" role="cell">
                        <i class="material-icons" title="Team">person</i>
                        Jack Johnson
                    </p>
                    <div class="grid-card__info">
                        <div class="players-info players-info__game" role="cell">
                            <span>Football</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__country" role="cell">
                            <span>England</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__points" role="cell">
                            <span class="players-info__points-value">45</span>
                        </div>
                    </div>

                    <div class="grid-card__info">
                        <div class="players-info players-info__games" role="cell">
                            <span class="players-info__games-value">6</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__games-won" role="cell">
                            <span>5</span>
                        </div>
                    </div>


                    <div class="grid-card__actions mdc-card__actions">

                        <div class="mdc-card__action-icons">
                            <button
                                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
                                <i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                            </button>
                            <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                href="../player-profile/player-profile.html">
                                <i class="material-icons">
                                    chevron_right
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid-card players-list__card mdc-card" role="row">

                    <div class="players-info players-info__userpic" role="cell">
                        <img src=".././assets/images/avatars/team2.jpeg" alt="userpic">
                    </div>
                    <p class="grid-card__title" role="cell">
                        <i class="material-icons" title="Team">group</i>
                        Pirates
                    </p>
                    <div class="grid-card__info">
                        <div class="players-info players-info__game" role="cell">
                            <span>DOTA2</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__country" role="cell">
                            <span>Russia</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__points" role="cell">
                            <span class="players-info__points-value">235</span>
                        </div>
                    </div>

                    <div class="grid-card__info">
                        <div class="players-info players-info__games" role="cell">
                            <span class="players-info__games-value">23</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__games-won" role="cell">
                            <span>5</span>
                        </div>
                    </div>


                    <div class="grid-card__actions mdc-card__actions">

                        <div class="mdc-card__action-icons">
                            <button
                                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
                                <i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                            </button>
                            <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                href="../player-profile/player-profile.html">
                                <i class="material-icons">
                                    chevron_right
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid-card players-list__card mdc-card" role="row">

                    <div class="players-info players-info__userpic" role="cell">
                        <img src=".././assets/images/avatars/avatar.svg" alt="userpic">
                    </div>
                    <p class="grid-card__title" role="cell">
                        <i class="material-icons" title="Team">group</i>
                        Cats
                    </p>
                    <div class="grid-card__info">

                        <div class="players-info players-info__game" role="cell">
                            <span>Rugby</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__country" role="cell">
                            <span>USA</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__points" role="cell">
                            <span class="players-info__points-value">167</span>
                        </div>
                    </div>

                    <div class="grid-card__info">
                        <div class="players-info players-info__games" role="cell">
                            <span class="players-info__games-value">43</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__games-won" role="cell">
                            <span>5</span>
                        </div>
                    </div>


                    <div class="grid-card__actions mdc-card__actions">

                        <div class="mdc-card__action-icons">
                            <button
                                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
                                <i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                            </button>
                            <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                href="../player-profile/player-profile.html">
                                <i class="material-icons">
                                    chevron_right
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid-card players-list__card mdc-card" role="row">

                    <div class="players-info players-info__userpic" role="cell">
                        <img src=".././assets/images/avatars/face2.jpg" alt="userpic">
                    </div>
                    <p class="grid-card__title" role="cell">
                        <i class="material-icons" title="Team">person</i>
                        Leo Peterson
                    </p>
                    <div class="grid-card__info">
                        <div class="players-info players-info__game" role="cell">
                            <span>Tennis</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__country" role="cell">
                            <span>Ukraine</span>
                        </div>
                    </div>

                    <div class="grid-card__info">
                        <p class="players-info players-info__points" role="cell">

                            <span class="players-info__points-value">65</span>
                        </p>
                    </div>

                    <div class="grid-card__info">
                        <p class="players-info players-info__games" role="cell">
                            <span class="players-info__games-value">10</span>
                        </p>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__games-won" role="cell">
                            <span>5</span>
                        </div>
                    </div>


                    <div class="grid-card__actions mdc-card__actions">

                        <div class="mdc-card__action-icons">
                            <button
                                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
                                <i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                            </button>
                            <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                href="../player-profile/player-profile.html">
                                <i class="material-icons">
                                    chevron_right
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid-card players-list__card mdc-card" role="row">

                    <div class="players-info players-info__userpic" role="cell">
                        <img src=".././assets/images/avatars/avatar.svg" alt="userpic">
                    </div>
                    <p class="grid-card__title" role="cell">
                        <i class="material-icons" title="Team">person</i>
                        Steve
                    </p>
                    <div class="grid-card__info">
                        <div class="players-info players-info__game" role="cell">
                            <span>LOL</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__country" role="cell">
                            <span>Russia</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <p class="players-info players-info__points" role="cell">
                            <span class="players-info__points-value">105</span>
                        </p>
                    </div>

                    <div class="grid-card__info">
                        <p class="players-info players-info__games" role="cell">
                            <span class="players-info__games-value">34</span>
                        </p>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__games-won" role="cell">
                            <span>5</span>
                        </div>
                    </div>


                    <div class="grid-card__actions mdc-card__actions">

                        <div class="mdc-card__action-icons">
                            <button
                                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
                                <i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                            </button>
                            <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                href="../player-profile/player-profile.html">
                                <i class="material-icons">
                                    chevron_right
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid-card players-list__card mdc-card" role="row">

                    <div class="players-info players-info__userpic" role="cell">
                        <img src=".././assets/images/avatars/avatar.svg" alt="userpic">
                    </div>
                    <p class="grid-card__title" role="cell">
                        <i class="material-icons" title="Team">person</i>
                        Sandra Evans
                    </p>
                    <div class="grid-card__info">
                        <div class="players-info players-info__game" role="cell">
                            <span>Chess</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__country" role="cell">
                            <span>Spain</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <p class="players-info players-info__points" role="cell">
                            <span class="players-info__points-value">89</span>
                        </p>
                    </div>

                    <div class="grid-card__info">
                        <p class="players-info players-info__games" role="cell">
                            <span class="players-info__games-value">26</span>
                        </p>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__games-won" role="cell">
                            <span>5</span>
                        </div>
                    </div>


                    <div class="grid-card__actions mdc-card__actions">

                        <div class="mdc-card__action-icons">
                            <button
                                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
                                <i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                            </button>
                            <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                href="../player-profile/player-profile.html">
                                <i class="material-icons">
                                    chevron_right
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid-card players-list__card mdc-card" role="row">

                    <div class="players-info players-info__userpic" role="cell">
                        <img src=".././assets/images/avatars/team1.png" alt="userpic">
                    </div>
                    <p class="grid-card__title" role="cell">
                        <i class="material-icons" title="Team">group</i>
                        Riders
                    </p>
                    <div class="grid-card__info">
                        <div class="players-info players-info__game" role="cell">
                            <span>Hockey</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__country" role="cell">
                            <span>Canada</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <p class="players-info players-info__points" role="cell">
                            <span class="players-info__points-value">21</span>
                        </p>
                    </div>

                    <div class="grid-card__info">
                        <p class="players-info players-info__games" role="cell">
                            <span class="players-info__games-value">4</span>
                        </p>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__games-won" role="cell">
                            <span>5</span>
                        </div>
                    </div>


                    <div class="grid-card__actions mdc-card__actions">

                        <div class="mdc-card__action-icons">
                            <button
                                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
                                <i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                            </button>
                            <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                href="../player-profile/player-profile.html">
                                <i class="material-icons">
                                    chevron_right
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid-card players-list__card mdc-card" role="row">

                    <div class="players-info players-info__userpic" role="cell">
                        <img src=".././assets/images/avatars/face5.jpg" alt="userpic">
                    </div>
                    <p class="grid-card__title" role="cell">
                        <i class="material-icons" title="Team">person</i>
                        Lilly Adams
                    </p>
                    <div class="grid-card__info">
                        <div class="players-info players-info__game" role="cell">
                            <span>Tennis</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__country" role="cell">
                            <span>Germany</span>
                        </div>
                    </div>
                    <div class="grid-card__info">
                        <p class="players-info players-info__points" role="cell">
                            <span class="players-info__points-value">5</span>
                        </p>
                    </div>

                    <div class="grid-card__info">
                        <p class="players-info players-info__games" role="cell">
                            <span class="players-info__games-value">1</span>
                        </p>
                    </div>
                    <div class="grid-card__info">
                        <div class="players-info players-info__games-won" role="cell">
                            <span>5</span>
                        </div>
                    </div>


                    <div class="grid-card__actions mdc-card__actions">
                        <div class="mdc-card__action-icons">
                            <button
                                class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
                                aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
                                <i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                            </button>
                            <a class="mdc-icon-button mdc-card__action"
                                href="../player-profile/player-profile.html">
                                <i class="material-icons">
                                    chevron_right
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
