@import "../../../dist/bundle.css";

.main .container-center {
  width: 70vw;
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  margin-bottom: 5%;
  border-bottom: 1px solid rgba(48, 56, 65, 0.8);
}

.search-form__search {
  flex-grow: 1;
  height: 50px;
  min-width: 255px;
  margin-right: 5%;
  margin-bottom: 3%;
}

.search-form__checkboxes {
  margin-left: auto;
  margin-right: 15px;
}

.form-selector {
  margin-left: 15px;
  height: 50px;
}

.form-selector:first-of-type {
  margin-left: 0;
}

.players-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: stretch;
  padding: 0;
  margin-bottom: 10%;
}

.grid-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 10vh;
  position: relative;
}

.players-info__userpic {
  margin-left: 4%;
  margin-top: 1%;
}

.players-info__userpic img {
  padding: 5%;
  width: auto;
  height: 6vh;
  border-radius: 50%;
  border: 1px solid #ebc000;
  background-color: rgba(255, 255, 255, 0.5);
}

.mdc-card__action-icons {
  flex-grow: 0;
}

.grid-card__title {
  font-size: 1.3rem;
  margin-left: 3%;
  padding: 0;
}

.grid-card__info {
  min-width: 12%;
  margin: auto 0 auto 4%;
  padding: 0;
}

.grid-card__info:nth-of-type(2) {
  margin-left: auto;
}

.players-info__points,
.players-info__games {
  display: flex;
  flex-direction: column;
}

.players-info__points-label,
.players-info__games-label {
  font-size: 0.9rem;
  font-weight: 600;
}

.players-info__points-value,
.players-info__games-value {
  padding-left: 15%;
  font-size: 1.1rem;
}

.grid-card__actions {
  margin: 0 3% 0 auto;
  padding: 0;
}

.mdc-card__actions a {
  min-width: 118px;
}

@media screen and (max-width: 1200px) {
  .search-form__selectors {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }

  .form-selector {
    width: 48%;
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 1000px) {
  .main .container-center {
    width: 90vw;
    padding: 0;
  }

  .search-form__search,
  .search-form__checkboxes,
  .search-form__selectors,
  .form-selector {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }

  .grid-card__title {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 800px) {

  .grid-card {
    flex-direction: column;
    height: auto;
  }

  .grid-card__info:nth-of-type(2) {
    margin-left: 0;
  }

  .grid-card__title,
  .grid-card__info,
  .grid-card__actions {
    padding: 0 3%;
  }
}
