<div class="grid-card players-list__card" role="row">

  <div class="players-info players-info__userpic" role="cell">
    <img src=".././assets/images/avatars/team4.jpeg" alt="userpic">
  </div>

  <p class="grid-card__title" role="cell">
    <i class="material-icons" title="Team">group</i>
    {{item?.name | titlecase}}
  </p>

  <div class="grid-card__info">
    <div class="players-info players-info__game" role="cell">
      <span>{{item?.game | titlecase}}</span>
    </div>
  </div>
  <div class="grid-card__info">
    <div class="players-info players-info__game" role="cell">
      <span>{{item?.country | uppercase}}</span>
    </div>
  </div>

  <div class="grid-card__info">
    <div class="players-info players-info__points" role="cell">
      <span>{{points}}</span>
    </div>
  </div>

  <div class="grid-card__info">
    <div class="players-info players-info__games" role="cell">
      <span>{{games}}</span>
    </div>
  </div>
  <div class="grid-card__info">
    <div class="players-info players-info__games-won" role="cell">
      <span>{{wins}}</span>
    </div>
  </div>

  <div class="grid-card__actions">

    <div>
      
      <button mat-icon-button aria-label="Add to favorite">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="Add to favorite" style="display: none;">
        <mat-icon color="primary">favorite</mat-icon>
      </button>

      <a class="icon-toggle-button"
        [routerLink]="['/player-profile', item.id]">
        <i class="material-icons">
          chevron_right
        </i>
      </a>
    </div>

  </div>
</div>
