<div class="grid-card players-list__card mdc-card" role="row">

  <div class="players-info players-info__userpic" role="cell">
    <img src=".././assets/images/avatars/team4.jpeg" alt="userpic">
  </div>

  <p class="grid-card__title" role="cell">
    <i class="material-icons" title="Team">group</i>
    Mad bears
  </p>

  <div class="grid-card__info">
    <div class="players-info players-info__game" role="cell">
      <span>Football</span>
    </div>
  </div>
  <div class="grid-card__info">
    <div class="players-info players-info__game" role="cell">
      <span>Germany</span>
    </div>
  </div>

  <div class="grid-card__info">
    <div class="players-info players-info__points" role="cell">
      <span class="players-info__points-value">95</span>
    </div>
  </div>

  <div class="grid-card__info">
    <div class="players-info players-info__games" role="cell">
      <span class="players-info__games-value">13</span>
    </div>
  </div>
  <div class="grid-card__info">
    <div class="players-info players-info__games-won" role="cell">
      <span>5</span>
    </div>
  </div>
  
  <div class="grid-card__actions mdc-card__actions">
    <div class="mdc-card__action-icons">
      <button class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
        aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
        <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
        <i class="material-icons mdc-icon-button__icon">favorite_border</i>
      </button>

      <a class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
        href="../player-profile/player-profile.html">
        <i class="material-icons">
          chevron_right
        </i>
      </a>
    </div>
  </div>
</div>
