@import "src/styles.scss";

.grid-card {
  color: $wix-color;
  background-color: $wix-foreground;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 9vh;
  max-height: 75px;
  min-height: 55px;
  position: relative;
}

.players-info__userpic {
  margin: auto 0;
  width: 9vw;
  height: 100%;
  max-width: 85px;
}

.players-info__userpic img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto 0;
}

.grid-card__title {
  font-size: 1.1em;
  line-height: 1.3em;
  margin: 0;
  margin-left: 3%;
  margin-right: 1%;
  padding: 0;
}

.grid-card__title i {
  font-size: 20px;
  color: $wix-color;
  padding-right: 5px;
}

.grid-card__info {
  min-width: 8%;
  max-width: 15%;
  margin: auto 0.5%;
  padding: 0;
  text-align: center;
}

.grid-card__info:nth-of-type(2),
.grid-card__info:nth-of-type(3) {
  min-width: 12%;
}

.grid-card__info:nth-of-type(2) {
  margin-left: auto;
}

.grid-card__actions {
  margin: 0;
  padding: 0;
}

.grid-card__actions a {
  vertical-align: text-top;
}

/* .mdc-icon-button {
    width: 35px;
    height: 48px;
  } */

@media screen and (max-width: 900px) {
  .grid-card__info {
    font-size: 0.9em;
  }

  .grid-card__title {
    font-size: 1em;
  }

  .grid-card__info:nth-of-type(4),
  .grid-card__info:nth-of-type(5),
  .grid-card__info:nth-of-type(6) {
    min-width: 6%;
  }

  .players-info__userpic {
    width: 10vw;
  }

  .sorting-header__game,
  .sorting-header__country,
  .sorting-header__points,
  .sorting-header__games,
  .sorting-header__games-won {
    min-width: 6.5%;
  }

  .sorting-header__game,
  .sorting-header__country {
    min-width: 9.5%;
  }
}

@media screen and (max-width: 750px) {
  .grid-card__title {
    font-size: 0.9em;
  }

  .players-info {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 500px) {
  .grid-card {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 50% 25% 15%;
    grid-template-areas: "pic title btns" "game points ." "country games .";
    grid-row-gap: 8px;
    height: 100%;
    max-height: unset;
    text-align: left;
    padding-bottom: 20px;
    align-items: center;
  }

  .players-info {
    font-size: 1.1em;
    min-width: unset;
    max-width: unset;
    margin: auto 5%;
    padding: 0;
    text-align: center;
  }

  .players-info__userpic {
    grid-area: pic;
    width: 23vw;
    margin: 0;
  }

  .grid-card__title {
    grid-area: title;
    font-size: 1em;
  }

  .grid-card__info {
    padding-left: 20%;
  }

  .grid-card__info:nth-of-type(2) {
    grid-area: game;
    margin-left: unset;
  }
  .grid-card__info:nth-of-type(3) {
    grid-area: country;
  }
  .grid-card__info:nth-of-type(4) {
    grid-area: points;
  }
  .grid-card__info:nth-of-type(5) {
    grid-area: games;
  }
  .grid-card__info:nth-of-type(6) {
    display: none;
  }
  .grid-card__actions {
    grid-area: btns;
  }
  .grid-card__actions a {
    position: absolute;
    top: 40%;
    right: 0;
  }
}
