<div class="tourno-creation__step-content tourno-creation__step-content_add-player">

  <h4 class="tourno-creation__step-subtitle">
    Current players
  </h4>

  <p class="tourno-creation__step-description">
    <i class="material-icons">
      error_outline
    </i>
    Change list rows positions to set the seed order or check the checkbox below to let them
    be seeded randomly
  </p>

  <div class="seed-randomly-checkbox">
    <mat-checkbox>Seed randomly</mat-checkbox>
  </div>



  <!-- Current players -->
  <app-current-players [currentPlayers$]='items$'>
  </app-current-players>


  <!-- Add more section -->
  <h4 class="tourno-creation__step-subtitle">
    Add more players
  </h4>

  <p class="tourno-creation__step-description">
    You can either add a player from the list of the players you have already created or a
    completely new one!
  </p>

  <div class="add-player-mode-switcher mode-switcher">
    <label>From List</label>
    <mat-slide-toggle (change)="handleChangeView()">
    </mat-slide-toggle>
    <label>Add new</label>
  </div>

  <app-add-from-list *ngIf="!isNew"></app-add-from-list>

  <app-add-new *ngIf="isNew"></app-add-new>

</div>