

.added-players {
  margin: 3% 0 10%;
}

.added-players .row {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  margin-bottom: 3%;
}

.row {
  position: relative;
}

.delete-player-btn,
.edit-player-btn  {
  position: absolute;
  top: 10px;
  right: 10px;
}

.grid-card:hover {
  transform: none;
}

.grid-card__actions button,
.grid-card__actions a {
  display: none;
}


.seed-randomly-checkbox,
.add-player-mode-switcher {
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  margin: 4% 0 3%;
}

.add-player-mode-switcher label {
  padding: 0 3%;
}

.tourno-creation__submit-btn {
  width: 40%;
  margin-left: 60%;
  margin-bottom: 8%;
}

@media screen and (max-width: 600px) {
  .tourno-creation__submit-btn {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .added-players .row {
    grid-template-columns: 100%;
    margin-bottom: 5%;
  }

  .row {
    position: relative;
  }

  .add-to-list-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
