<div class="grid-card tournos-list__card mdc-card">
  <div class="mdc-card__media mdc-card__media--16-9"
    style="background-image: url(&quot;.././assets/images/games-wp/rugby.jpg&quot;);">
  </div>
  <p class="grid-card__title">
    Regionals 2019
  </p>
  <div class="grid-card__info">
    <ul>
      <li class="grid-card__info-game">
        <i class="material-icons" title="Game">videogame_asset</i>
        <span>Rugby</span>
      </li>
      <li class="grid-card__info-participants">
        <i class="material-icons" title="No. of participants">group</i>
        <span><span>12</span> participants</span>
      </li>
      <li class="grid-card__info-end-date">
        <i class="material-icons" title="End date of tournament">calendar_today</i>
        <span>12 September 2019</span>
      </li>
    </ul>
  </div>
  <div class="grid-card__actions mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <a class="btn mdc-button mdc-button--outlined mdc-button mdc-card__action mdc-card__action--button"
        href="../tourno-profile/tourno-profile.html">View
        Details</a>
    </div>
    <div class="mdc-card__action-icons">
      <button class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded icon-toggle-button"
        aria-pressed="false" aria-label="Add to favourites" title="Add to favourites">
        <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
        <i class="material-icons mdc-icon-button__icon">favorite_border</i>
      </button>
    </div>
  </div>
</div>
