@import "@material/button/mdc-button.scss";
@import "@material/tab-bar/mdc-tab-bar.scss";
@import "@material/tab-scroller/mdc-tab-scroller.scss";
@import "@material/tab-indicator/mdc-tab-indicator.scss";
@import "@material/tab/mdc-tab.scss";
@import "@material/icon-button/mdc-icon-button.scss";
@import "@material/list/mdc-list.scss";
@import "@material/menu-surface/mdc-menu-surface.scss";
@import "@material/menu/mdc-menu.scss";
@import "@material/textfield/mdc-text-field.scss";
@import "@material/select/mdc-select.scss";
@import "@material/floating-label/mdc-floating-label.scss";
@import "@material/notched-outline/mdc-notched-outline.scss";
@import "@material/textfield/icon/mdc-text-field-icon.scss";
@import "@material/form-field/mdc-form-field.scss";
@import "@material/checkbox/mdc-checkbox.scss";
@import "@material/card/mdc-card.scss";

// GENERAL
html {
  overflow: hidden;
}
body {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}
html,
body {
  background-image: linear-gradient(60deg, #303841 0%, #444d57 100%);
  font-family: Roboto, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 1.5rem;

  margin: 0;
  padding: 0;
}

a {
  /* text-decoration: none; */
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

input:-webkit-autofill,
.my-class:-webkit-autofill {
    -webkit-transition-delay: 9999999s;
}

h1 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 3.5em;
  line-height: 5rem;
  font-weight: 700;
}

h2 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 3em;
  line-height: 5rem;
  font-weight: 700;
}

h3 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 5rem;
  font-weight: 700;
}

h4 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

h5 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}

h6 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}

.btn {
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.15);
  @include mdc-button-outline-color(#ebc000);
  @include mdc-button-ink-color(#fff);
  @include mdc-states(#fff);
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.highlighted-btn {
  font-weight: 700;
  @include mdc-button-container-fill-color(#ebc000);
  @include mdc-button-ink-color(#303841);
  @include mdc-states(#fff);
}

.tab {
  font-weight: 700;
  margin-left: 20px;
  color: #fff;
  border-bottom: 1px solid rgba(48, 56, 65, 0.8);
  @include mdc-tab-ink-color(#fff);
  @include mdc-tab-text-label-color(#fff);
  @include mdc-tab-states-color(#fff);
  @include mdc-tab-indicator-underline-color(#ebc000);
}

.tab:first-of-type {
  margin-left: 0;
}

// .form-input {
//   @include mdc-text-field-caret-color(#ebc000);
//   @include mdc-text-field-fill-color(#ffffff27);
//   @include mdc-text-field-hover-outline-color(#ebc000);
//   @include mdc-text-field-focused-outline-color(#ebc000);
//   @include mdc-text-field-outline-color(#21262c);
//   @include mdc-text-field-label-color(#21262c);
//   @include mdc-text-field-ink-color(#fff);
//   @include mdc-floating-label-float-position(20, 20, 1)
// }

.form-input,
.search-input  {
  border-radius: 5px;
  @include mdc-text-field-caret-color(#ebc000);
  @include mdc-text-field-fill-color(rgba(255, 255, 255, 0.2));
  @include mdc-text-field-label-color(rgba(255, 255, 255, 0.6));
  @include mdc-text-field-ink-color(#fff);
  @include mdc-text-field-bottom-line-color(rgba(48, 56, 65, 0.8));
  @include mdc-text-field-hover-bottom-line-color(#ebc000);
  @include mdc-text-field-line-ripple-color(#ebc000);
}

.search-input {
  @include mdc-text-field-hover-outline-color(#ebc000);
  @include mdc-text-field-focused-outline-color(#ebc000);
}

.search-input::placeholder{
  opacity: 0.5;
}

.form-selector {
  @include mdc-select-container-fill-color(rgba(255, 255, 255, 0.2));
  @include mdc-select-bottom-line-color(rgba(48, 56, 65, 0.8));
  @include mdc-select-focused-bottom-line-color(#ebc000);
  @include mdc-select-hover-bottom-line-color(#ebc000);
  @include mdc-select-label-color(rgba(255, 255, 255, 0.8));
  @include mdc-select-focused-label-color(rgba(255, 255, 255, 0.6));
  @include mdc-select-ink-color(#fff);
}

.checkbox {
  @include mdc-checkbox-container-colors(#303841, rgba(255, 255, 255, 0.2),#ebc000, #ebc000, );
  @include mdc-checkbox-ink-color(#fff);
  @include mdc-checkbox-focus-indicator-color(#ebc000);
  @include mdc-checkbox-touch-dimension(#ebc000);
}

//to change label color
.mdc-form-field {
  color: #fff;
}

// .foo-text-field.mdc-text-field--invalid {
//   @include mdc-text-field-outline-color(#cc5959);
// }

//GENERAL-main

// .main {
//   width: 100vw;
//   height: 100vh;
// }

// GENERAL-header

// .helper-section {
//   margin: 0;
//   padding: 0;
// }

.main-header,
.main-header-no-min {
  // width: 100vw;
  // height: auto;
  margin-top: -1px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 5;
  position: sticky;
  top: 0;
  transition: 0.3s;
}

.main-header.scrolled,
.main-header-no-min {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-header__logo img {
  width: 120px;
  height: 75px;
  margin-left: 10px;
}

.main-header.scrolled .main-header__logo img{
  width: 110px;
  height: 60px;
}

.site-nav ul,
.site-nav-no-min ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.site-nav-no-min ul {
  padding-top: 2%;
}

.site-nav li,
.site-nav-no-min li {
  margin-left: 20px;
}

.site-nav__tab {
  margin-top: 20px;
}

.site-nav-min {
  display: none;
}

.menu-btn {
  @include mdc-button-container-fill-color(#ebc000);
  @include mdc-button-ink-color(#303841);
  border-radius: 50%;
  margin: 0 auto;
}

.menu-anchor {
  padding-top: 7%;
  padding-left: 150px;
}

.site-nav-min .mdc-menu-surface {
  margin-top: 58px;
  @include mdc-menu-surface-fill-color(rgba(0, 0, 0, 0.4));
}
.site-nav-min .mdc-list {
  @include mdc-menu-surface-ink-color(#fff);
}




//GENERAL-footer
.main-footer {
  border-top: 1px solid #3a4750;
}

.main-footer a:hover {
  text-decoration: underline;
  color: #ebc000;
}

.main-footer .container-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-footer__logo img {
  width: 110px;
  height: 65px;
  margin-top: 10px;
}

.footer-middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-middle ul {
  padding: 0 0 40px;
}

.footer-bottom {
  color: rgb(199, 199, 199);
  font-size: 0.8rem;
  font-style: italic;
  padding-bottom: 10px;
}

//GENERAL-containers
.container-center {
  max-width: 60vw;
  margin: 0 auto;
  padding: 0 10px;
}

.regular-wrapper {
  width: 100vw;
  height: auto;
  z-index: 1;
  position: relative;
}

.parallax-wrapper + .regular-wrapper {
  background-image: linear-gradient(60deg, #303841 0%, #444d57 100%);
}

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 2vh;
  transform-style: preserve-3d;
  position: relative;
}

.parallax-wrapper::before {
  content: "";
  margin: 0;
  width: 100vw;;
  height: 102vh;
  top: 0;
  left: 0; 
  position:absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2.3);
  background-image: url("img/kolleen-gladden-ij5_qCBpIVY-unsplash.jpg");
}

.promo__parallax {
  margin-top: -100px;
}

//INDEX.html

// .landing > .main {
//   background-image: url("img/background-pic.jpg");
// }

.landing > .main section, 
.promo > .container-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.promo {
  width: 100vw;
  height: 100vh;
  margin: 0 auto 0;
  padding: 12% 0 15%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.promo__title {
  margin-top: 3%;
  margin-bottom: 5%;
}

.promo__btn {
  margin-bottom: 70px;
}

.features {
  border-bottom: 1px solid #3a4750;
}

.features__title {
  padding-top: 40px;
  padding-bottom: 30px;
}

.features__tab {
  color: #fff;
}

.features__tab-content {
  padding: 5% 40% 10% 10%;
  position: relative;
  text-align: left;
}

.features__tab-content-1::after {
  position: absolute;
  content: "";
  margin-left: 15px;
  width: 150px;
  height: 150px;
  top: 7%;
  right: 12%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("img/1021073-winning/svg/011-winning-2.svg");
}

.tourno-types {
  border-bottom: 1px solid #3a4750;
  padding-bottom: 10%;
}

.popular-games {
  padding-bottom: 10%;
}



//GENERAL-media quieries

@media screen and (max-width: 760px) {
  h1 {
    font-size: 3.8em;
    font-weight: 600;
    line-height: 7rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 3.3em;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 2.6em;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 2rem;
  }
  h4 {
    font-size: 2.3em;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 2rem;
  }
  h5 {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
  h6 {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
  html,
  body {
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .container-center {
    max-width: 90vw;
    padding: 0;
  }

  .parallax-wrapper {
    height: 80vh;
  }

  .parallax-wrapper::before {
    content: "";
    margin: 0;
    top: 0;
    left: 0;
    transform: none;
    background-image: url("./img/kolleen-gladden-ij5_qCBpIVY-unsplash.jpg");
  }

  .main-header {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .main-header .main-header__logo img {
    width: 110px;
    height: 60px;
  }

  .site-nav,
  .site-nav-no-min {
    display: none;
  }

  .site-nav-min {
    display: block;
  }

}
