@import "@material/button/mdc-button.scss";
@import "@material/tab-bar/mdc-tab-bar.scss";
@import "@material/tab-scroller/mdc-tab-scroller.scss";
@import "@material/tab-indicator/mdc-tab-indicator.scss";
@import "@material/tab/mdc-tab.scss";
@import "@material/icon-button/mdc-icon-button.scss";
@import "@material/list/mdc-list.scss";
@import "@material/menu-surface/mdc-menu-surface.scss";
@import "@material/menu/mdc-menu.scss";
@import "@material/textfield/mdc-text-field.scss";
@import "@material/select/mdc-select.scss";
@import "@material/floating-label/mdc-floating-label.scss";
@import "@material/notched-outline/mdc-notched-outline.scss";
@import "@material/textfield/icon/mdc-text-field-icon.scss";
@import "@material/form-field/mdc-form-field.scss";
@import "@material/checkbox/mdc-checkbox.scss";
@import "@material/card/mdc-card.scss";
@import "@material/data-table/mdc-data-table.scss";
@import "@material/textfield/character-counter/mdc-text-field-character-counter.scss";
@import "@material/radio/mdc-radio.scss";

// GENERAL
html {
  overflow: hidden;
}

body {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(60deg, #303841 0%, #444d57 100%);
  font-family: Roboto, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 1.5rem;

  margin: 0;
  padding: 0;
}

a {
  /* text-decoration: none; */
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

input:-webkit-autofill,
.my-class:-webkit-autofill {
  -webkit-transition-delay: 9999999s;
}

h1 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 3.3em;
  line-height: 5rem;
  font-weight: 700;
}

h2 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 2.8em;
  line-height: 5rem;
  font-weight: 700;
}

h3 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 1.8em;
  line-height: 5rem;
  font-weight: 700;
}

h4 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

h5 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}

h6 {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}

// COMMON COMPONENTS

.btn {
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.15);
  @include mdc-button-outline-color(#ebc000);
  @include mdc-button-ink-color(#fff);
  @include mdc-states(#fff);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn_round {
  @include mdc-button-container-fill-color(#ebc000);
  @include mdc-button-ink-color(#303841);
  border-radius: 50%;
}

.highlighted-btn {
  font-weight: 700;
  @include mdc-button-container-fill-color(#ebc000);
  @include mdc-button-ink-color(#303841);
  @include mdc-states(#fff);
}

.icon-toggle-button {
  @include mdc-icon-button-ink-color(#303841);
  @include mdc-states-press-opacity(0);
}

.tab {
  font-weight: 700;
  margin-left: 20px;
  color: #fff;
  border-bottom: 1px solid rgba(48, 56, 65, 0.8);
  @include mdc-tab-ink-color(#fff);
  @include mdc-tab-text-label-color(#fff);
  @include mdc-tab-states-color(#fff);
  @include mdc-tab-indicator-underline-color(#ebc000);
}

.tab:first-of-type {
  margin-left: 0;
}

// .form-input {
//   @include mdc-text-field-caret-color(#ebc000);
//   @include mdc-text-field-fill-color(#ffffff27);
//   @include mdc-text-field-hover-outline-color(#ebc000);
//   @include mdc-text-field-focused-outline-color(#ebc000);
//   @include mdc-text-field-outline-color(#21262c);
//   @include mdc-text-field-label-color(#21262c);
//   @include mdc-text-field-ink-color(#fff);
//   @include mdc-floating-label-float-position(20, 20, 1)
// }

.form-input,
.search-input,
.textarea {
  border-radius: 5px;
  @include mdc-text-field-caret-color(#ebc000);
  @include mdc-text-field-fill-color(rgba(255, 255, 255, 0.2));
  @include mdc-text-field-label-color(rgba(255, 255, 255, 0.6));
  @include mdc-text-field-ink-color(#fff);
  @include mdc-text-field-bottom-line-color(rgba(48, 56, 65, 0.8));
  @include mdc-text-field-hover-bottom-line-color(#ebc000);
  @include mdc-text-field-line-ripple-color(#ebc000);
}

.form-input.mdc-text-field--disabled {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-input {
  @include mdc-text-field-hover-outline-color(#ebc000);
  @include mdc-text-field-focused-outline-color(#ebc000);
}

.search-input::placeholder {
  opacity: 0.5;
}

.form-selector {
  @include mdc-select-container-fill-color(rgba(255, 255, 255, 0.2));
  @include mdc-select-hover-bottom-line-color(#ebc000);
  @include mdc-select-bottom-line-color(rgba(48, 56, 65, 0.8));
  @include mdc-select-focused-bottom-line-color(#ebc000);
  @include mdc-select-label-color(rgba(255, 255, 255, 0.8));
  @include mdc-select-focused-label-color(rgba(255, 255, 255, 0.6));
  @include mdc-select-ink-color(#fff);
}

.form-selector option {
  background-color: rgb(97, 103, 110);
}

.form-selector:hover {
  border-bottom: 1px solid #ebc000;
}

.mdc-select--focused .mdc-select__dropdown-icon {
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%20opacity%3D%220.54%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E")
    no-repeat center;
}

.other-chosen-input-field {
  display: none;
}

.checkbox {
  @include mdc-checkbox-container-colors(
    #303841,
    rgba(255, 255, 255, 0.2),
    #ebc000,
    #ebc000
  );
  @include mdc-checkbox-ink-color(#303841);
  @include mdc-checkbox-focus-indicator-color(#ebc000);
  @include mdc-checkbox-touch-dimension(#ebc000);
}

//to change label color
.mdc-form-field {
  color: #fff;
}

.grid-card {
  color: rgba(255, 255, 255, 0.7);
  @include mdc-card-fill-color(rgba(255, 255, 255, 0.1));
  border-radius: 10px;
}

.grid-card:hover {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}

.grid-card__title,
.grid-card__info,
.grid-card__actions {
  padding: 0 3%;
}

.grid-card__title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-block-start: 0.9rem;
  margin-block-end: 0.7rem;
}

.grid-card__info {
  font-size: 0.95rem;
  line-height: 1.5rem;
  margin-bottom: 4%;
  margin-top: auto;
}

.grid-card__info ul {
  padding: 0;
  margin: 0;
}

.grid-card__info i {
  font-size: 16px;
  color: #303841;
  padding-right: 2%;
}

.grid-card__actions {
  margin-bottom: 3%;
}

.chart {
  color: #fff;
  @include mdc-data-table-fill-color(rgb(97, 103, 110));
  @include mdc-data-table-divider-color(#303841);
  @include mdc-data-table-row-height(43px);
}

.chart th,
.chart td {
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.chart th {
  font-size: 1.1rem;
  font-weight: 600;
}

.textarea {
  @include mdc-text-field-textarea-fill-color(rgba(255, 255, 255, 0.2));
  @include mdc-text-field-textarea-stroke-color(rgba(255, 255, 255, 0.8));
  @include mdc-text-field-hover-outline-color(#ebc000);
}

.radio-btn {
  @include mdc-radio-ink-color(#ebc000);
  @include mdc-radio-unchecked-stroke-color(#242a31);
  @include mdc-radio-checked-stroke-color(#ebc000);
}




// ________________________________________________________________________________
//GENERAL-main

// GENERAL-header

.main-header,
.main-header-no-min {
  // width: 100vw;
  // height: auto;
  margin-top: -1px;
  padding: 0 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
  position: sticky;
  top: 0;
  transition: 0.3s;
}

.main-header.scrolled,
.main-header-no-min {
  background-color: rgba(0, 0, 0, 0.5);
}

.main-header__logo img {
  width: 120px;
  height: 75px;
  margin-left: 10px;
}

.main-header__logo img:last-of-type {
  margin-left: -20px;
}

.main-header.scrolled .main-header__logo img {
  width: 110px;
  height: 60px;
}

.site-nav ul,
.site-nav-no-min ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.site-nav-no-min ul {
  padding-top: 2%;
}

.site-nav li,
.site-nav-no-min li {
  margin-left: 20px;
}

.site-nav__tab {
  margin-top: 20px;
}

.site-nav-min {
  display: none;
}

.menu-btn {
  margin-top: 25%;
  margin-left: 10%;
}

.site-nav-min .mdc-menu-surface {
  margin-top: 20%;
  @include mdc-menu-surface-fill-color(rgba(0, 0, 0, 0.5));
}

.site-nav-min .mdc-list {
  @include mdc-menu-surface-ink-color(#fff);
}

.mdc-list-divider {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}



//GENERAL-footer

.main-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.main-footer a:hover {
  text-decoration: underline;
  color: #ebc000;
}

.main-footer .container-center {
  width: 60vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-top {
  margin-bottom: 3%;
}

.main-footer__logo img {
  width: 110px;
  height: 65px;
  margin-top: 10px;
}

.main-footer__logo img:last-of-type {
  margin-left: -20px;
}

.footer-middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5%;
}

.footer-middle ul {
  padding: 0 0 40px;
}

.main-footer__social ul
{
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer__social a
{
  position: relative;

  width: 50px;
  height: 50px;
  margin-right: 3px;

  text-align: center;

  border-radius: 50%;
  background-color: #212a3a;
}

.main-footer__vk-social-btn
{
  font-size: inherit;

  position: absolute;

  display: block;

  width: 15px;
  height: 15px;

  content: '';

  background: url('./img/icons/icon-vk.svg') no-repeat center;
}

.main-footer__vk-social-btn:hover {
  background-color: #4c75a3;
}

.main-footer__fb-social-btn
{
  font-size: inherit;

  position: absolute;

  display: block;

  width: 15px;
  height: 15px;

  content: '';

  background: url('./img/icons/icon-fb.svg') no-repeat center;
}

.main-footer__fb-social-btn:hover {
  background-color: #3b5998;
}

.main-footer__insta-social-btn
{
  font-size: inherit;

  position: absolute;

  display: block;

  width: 15px;
  height: 15px;

  content: '';

  background: url('./img/icons/icon-insta.svg') no-repeat center;
}

.main-footer__insta-social-btn:hover {
  background-color: #fcb045;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: rgb(199, 199, 199);
  font-size: 0.8rem;
  font-style: italic;
  padding-bottom: 3%;
}

.footer-bottom__authority {
  font-weight: 700;
}


//GENERAL-containers

.container-center {
  width: 65vw;
  margin: 0 auto;
  padding: 0 10px;
}

.regular-wrapper {
  width: 100vw;
  height: auto;
  z-index: 1;
  position: relative;
}

.parallax-wrapper + .regular-wrapper {
  background-image: linear-gradient(60deg, #303841 0%, #444d57 100%);
}

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 2vh;
  transform-style: preserve-3d;
  position: relative;
}

.parallax-wrapper::before {
  content: "";
  margin: 0;
  width: 100vw;
  height: 102vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2.3);
  background-image: url("./img/tennis-court-bg.jpg");
}

.promo__parallax {
  margin-top: -100px;
}

//_____________________________________________________________________
//GENERAL-media quieries

@media screen and (max-width: 960px) {
  .main .container-center,
  .main-footer .container-center,
  .container-center {
    width: 75vw;
    padding: 0;
  }

  .main-footer__nav,
  .main-footer__profile {
    display: none;
  }

  .main-footer__social {
    margin: 0 auto;
  }

  .main-footer__social h4 {
    display: none;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .footer-bottom__authority,
  .footer-bottom__credits {
    margin: 0 auto;
  }
}

@media screen and (max-width: 760px) {
  h1 {
    font-size: 3.6em;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2.9em;
    font-weight: 600;
    line-height: 4.5rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 2.4em;
    font-weight: 600;
    line-height: 4.5rem;
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 2.2em;
    font-weight: 600;
    line-height: 4.5rem;
    margin-bottom: 2rem;
  }

  h5 {
    font-size: 1.6em;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
  }

  h6 {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
  }

  html,
  body {
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .main .container-center,
  .main-footer .container-center,
  .container-center {
    width: 90vw;
    padding: 0;
  }

  .parallax-wrapper {
    height: 80vh;
  }

  .parallax-wrapper::before {
    content: "";
    margin: 0;
    top: 0;
    left: 0;
    transform: none;
    background-image: url("./img/tennis-court-bg.jpg");
  }

  .main-header,
  .main-header.scrolled,
  .main-header-no-min  {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .main-header .main-header__logo img,
  .main-header-no-min .main-header__logo img {
    width: 110px;
    height: 60px;
  }

  .site-nav,
  .site-nav-no-min {
    display: none;
  }

  .site-nav-min {
    display: block;
  }

  .site-nav-min .mdc-menu-surface,
  .site-nav-no-min .mdc-menu-surface {
    width: 100vw;
    margin-top: 20%;
    @include mdc-menu-surface-fill-color(rgba(0, 0, 0, 0.8));
  }

  .mdc-menu__selection-group {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 4rem;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 2.3em;
    font-weight: 600;
    line-height: 4rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 2em;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  h5 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 1.3rem;
  }

  h6 {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 1.3rem;
  }

  html,
  body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3rem;
    margin-bottom: 1rem;
  }

  .main .container-center,
  .main-footer .container-center,
  .container-center {
    width: 95vw;
  }
}



//___________________________________________________________________________

//INDEX.html

// .landing > .main {
//   background-image: url("img/background-pic.jpg");
// }

.landing > .main section,
.promo > .container-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.promo {
  width: 100vw;
  height: 100vh;
  margin: 0 auto 0;
  padding: 12% 0 15%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.promo__title {
  margin-top: 3%;
  margin-bottom: 5%;
}

.promo__btn {
  margin-bottom: 70px;
}

.features {
  border-bottom: 1px solid rgba(48, 56, 65, 0.8);
}

.features__title {
  padding-top: 40px;
  padding-bottom: 30px;
}

.features__tab {
  color: #fff;
}

.features__tab-content {
  padding: 5% 40% 10% 10%;
  position: relative;
  text-align: left;
}

.features__tab-content-1::after {
  position: absolute;
  content: "";
  margin-left: 15px;
  width: 150px;
  height: 150px;
  top: 7%;
  right: 12%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("img/1021073-winning/svg/011-winning-2.svg");
}

.tourno-types {
  border-bottom: 1px solid rgba(48, 56, 65, 0.8);
  padding-bottom: 10%;
}

.popular-games {
  padding-bottom: 10%;
}

// Accordion Height
$a-height: 450px;

// Position text along bottom
$text-offset: $a-height - 90;

.accordion {

  width:100%;
  max-width:1080px;
  height:$a-height;
  overflow:hidden;
  margin:50px auto;

  ul {

    width:100%;
    display:table;
    table-layout:fixed;
    margin:0;
    padding:0;

    li {

      display:table-cell;
      vertical-align:bottom;
      position: relative;
      width:16.666%; // 6 into 100
      height:$a-height;

      background-repeat:no-repeat;
      background-position:center center;
      background-size: cover;

      transition:all 500ms ease;

      div {
        
        display:block;
        overflow:hidden;
        width:100%;

        a {
          
          display:block;
          height:$a-height;
          width:100%;

          position:relative;
          z-index:3;
          vertical-align:bottom;
          padding:15px 20px;
          box-sizing:border-box;
          color:#fff;
          text-decoration:none;
          font-family:Open Sans, sans-serif;
          
          transition:all 200ms ease;

          * {

            opacity:0;
            margin:0;
            width:100%;
            text-overflow:ellipsis;
            position:relative;
            z-index:5;
            
            white-space:nowrap;
            overflow:hidden;
            
            -webkit-transform:translateX(-20px);
            transform:translateX(-20px);

            -webkit-transition:all 400ms ease;
            transition:all 400ms ease;

          }

          h2 {

            font-family:Montserrat,sans-serif;
            text-overflow:clip;
            font-size:24px;
            text-transform:uppercase;
            margin-bottom:2px;
            
            top:$text-offset;

          }
          
          p {
            
            top:$text-offset;
            font-size:13.5px;
            
          }

        }

      }

    }
    
    // Background images
    li:nth-child(1) { background-image:url('./img/games-wp/basketball.jpg'); }
    li:nth-child(2) { background-image:url('./img/games-wp/football.jpg'); }
    li:nth-child(3) { background-image:url('./img/games-wp/hockey.jpg'); }
    li:nth-child(4) { background-image:url('./img/games-wp/csgo.jpg'); }
    li:nth-child(5) { background-image:url('./img/games-wp/lol.jpg'); }
    li:nth-child(6) { background-image:url('./img/games-wp/dota2.jpg'); }

    &:hover li,
    &:focus-within li { width:8%; }
    
    li:focus {
      outline: none;
    }

    &:hover li:hover,
    // allow users to tab through active slides
    li:focus,
    &:focus-within li:focus {

      width:60%;

      a {
        
        background:rgba(0,0,0,.4);
        
        * {
          
          opacity:1;
          -webkit-transform:translateX(0);
          transform:translateX(0);
        
        }
      
      }

    }
    
    &:hover li {
      width: 8% !important;
      
      a * { opacity: 0 !important; }
    }
    
    &:hover li:hover {
      width:60% !important;

      a {
        
        background:rgba(0,0,0,.4);
        
        * {
          
          opacity:1 !important;
          -webkit-transform:translateX(0);
          transform:translateX(0);
        
        }
      
      }
    }

  }

}

// Stack items
@media screen and (max-width: 600px) {
  
  // IE gets fussy if this isn't here
  body { margin:0; }
  
  .accordion {
    
    height:auto;
    
    ul,ul:hover {
      
      li,li:hover {
        
        position:relative;
        display:table;
        table-layout:fixed;
        width:100%;
        
        -webkit-transition:none;
        transition:none;
        
      }
      
    }
    
  }

}