@import "@material/button/mdc-button.scss";
@import "@material/tab-bar/mdc-tab-bar.scss";
@import "@material/tab-scroller/mdc-tab-scroller.scss";
@import "@material/tab-indicator/mdc-tab-indicator.scss";
@import "@material/tab/mdc-tab.scss";
@import "@material/icon-button/mdc-icon-button.scss";
@import "@material/list/mdc-list.scss";
@import "@material/menu-surface/mdc-menu-surface.scss";
@import "@material/menu/mdc-menu.scss";
@import "@material/textfield/mdc-text-field.scss";
@import "@material/select/mdc-select.scss";
@import "@material/floating-label/mdc-floating-label.scss";
@import "@material/notched-outline/mdc-notched-outline.scss";
@import "@material/textfield/icon/mdc-text-field-icon.scss";
@import "@material/form-field/mdc-form-field.scss";
@import "@material/checkbox/mdc-checkbox.scss";
@import "@material/card/mdc-card.scss";
@import "@material/data-table/mdc-data-table.scss";
@import "@material/textfield/character-counter/mdc-text-field-character-counter.scss";
@import "@material/radio/mdc-radio.scss";
@import "@material/switch/mdc-switch.scss";

// GENERAL
html {
  overflow: hidden;
}

body {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(60deg, #24292f 0%, #333941 100%);
  font-family: Roboto, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 1.5rem;

  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

input:-webkit-autofill,
.my-class:-webkit-autofill {
  -webkit-transition-delay: 9999999s;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.3em;
  line-height: 5rem;
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8em;
  line-height: 4rem;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  line-height: 3rem;
  font-weight: 700;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 25px);
  }
  to {
    transform: translate(0, -0px);
  }
}

// COMMON COMPONENTS

.btn {
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.15);
  @include mdc-button-outline-color(#fbd132);
  @include mdc-button-ink-color(#fff);
  @include mdc-states(#fff);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn_round {
  @include mdc-button-container-fill-color(#fbd132);
  @include mdc-button-ink-color(#24292f);
  border-radius: 50%;
}

.btn_delete {
  @include mdc-button-container-fill-color(#f84636);
}

.icon-btn_delete {
  width: 28px;
  height: 28px;
  padding: 0;
}

.btn_delete i {
  font-size: 18px;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.highlighted-btn {
  font-weight: 700;
  @include mdc-button-container-fill-color(#fbd132);
  @include mdc-button-ink-color(#24292f);
  @include mdc-states(#fff);
}

.icon-toggle-button {
  @include mdc-icon-button-ink-color(#24292f);
  @include mdc-states-press-opacity(0);
}

.tab {
  font-weight: 700;
  margin-left: 20px;
  color: #fff;
  border-bottom: 1px solid rgba(48, 56, 65, 0.8);
  @include mdc-tab-ink-color(#fff);
  @include mdc-tab-text-label-color(#fff);
  @include mdc-tab-states-color(#fff);
  @include mdc-tab-indicator-underline-color(#fbd132);
}

.tab:first-of-type {
  margin-left: 0;
}

// .form-input {
//   @include mdc-text-field-caret-color(#FBD132);
//   @include mdc-text-field-fill-color(#ffffff27);
//   @include mdc-text-field-hover-outline-color(#FBD132);
//   @include mdc-text-field-focused-outline-color(#FBD132);
//   @include mdc-text-field-outline-color(#21262c);
//   @include mdc-text-field-label-color(#21262c);
//   @include mdc-text-field-ink-color(#fff);
//   @include mdc-floating-label-float-position(20, 20, 1)
// }

.form-input,
.search-input,
.textarea {
  border-radius: 5px;
  @include mdc-text-field-caret-color(#fbd132);
  @include mdc-text-field-fill-color(#61676e);
  @include mdc-text-field-label-color(rgba(255, 255, 255, 0.6));
  @include mdc-text-field-ink-color(#fff);
  @include mdc-text-field-bottom-line-color(rgba(48, 56, 65, 0.8));
  @include mdc-text-field-hover-bottom-line-color(#fbd132);
  @include mdc-text-field-line-ripple-color(#fbd132);
}

.form-input.mdc-text-field--disabled {
  background-color: #61676e;
}

.search-input {
  @include mdc-text-field-hover-outline-color(#fbd132);
  @include mdc-text-field-focused-outline-color(#fbd132);
}

.search-input::placeholder {
  opacity: 0.5;
}

.form-selector {
  @include mdc-select-container-fill-color(#61676e);
  @include mdc-select-hover-bottom-line-color(#fbd132);
  @include mdc-select-bottom-line-color(rgba(48, 56, 65, 0.8));
  @include mdc-select-focused-bottom-line-color(#fbd132);
  @include mdc-select-label-color(rgba(255, 255, 255, 0.8));
  @include mdc-select-focused-label-color(rgba(255, 255, 255, 0.6));
  @include mdc-select-ink-color(#fff);
}

.form-selector option {
  background-color: rgb(97, 103, 110);
}

.form-selector:hover {
  border-bottom: 1px solid #fbd132;
}

.mdc-select--focused .mdc-select__dropdown-icon {
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%20opacity%3D%220.54%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E")
    no-repeat center;
}

.other-chosen-input-field {
  display: none;
}

.checkbox {
  @include mdc-checkbox-container-colors(
    #fbd132,
    rgba(255, 255, 255, 0.2),
    #fbd132,
    #fbd132
  );
  @include mdc-checkbox-ink-color(#4d5359);
  @include mdc-checkbox-focus-indicator-color(#fbd132);
  @include mdc-checkbox-touch-dimension(#fbd132);
}

//to change label color
.mdc-form-field {
  color: #fff;
}

.grid-card {
  color: #f0f2f2;
  @include mdc-card-fill-color(#4d5359);
  border-radius: 10px;
}

.grid-card:hover {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition-duration: 0.5s;
  z-index: 4;
}

.grid-card__title,
.grid-card__info,
.grid-card__actions {
  padding: 0 3%;
}

.grid-card__title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-block-start: 0.9rem;
  margin-block-end: 0.7rem;
}

.grid-card__info {
  font-size: 0.95rem;
  line-height: 1.5rem;
  margin-bottom: 4%;
  margin-top: auto;
}

.grid-card__info ul {
  padding: 0;
  margin: 0;
}

.grid-card__info i {
  font-size: 16px;
  color: #24292f;
  padding-right: 2%;
}

.grid-card__actions {
  margin-bottom: 3%;
}

.chart {
  color: #fff;
  @include mdc-data-table-fill-color(rgb(97, 103, 110));
  @include mdc-data-table-divider-color(#24292f);
  @include mdc-data-table-row-height(43px);
}

.chart th,
.chart td {
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.chart th {
  font-size: 1.1rem;
  font-weight: 600;
}

.textarea {
  @include mdc-text-field-textarea-fill-color(#61676e);
  @include mdc-text-field-textarea-stroke-color(rgba(255, 255, 255, 0.8));
  @include mdc-text-field-hover-outline-color(#fbd132);
}

.radio-btn {
  @include mdc-radio-ink-color(#fbd132);
  @include mdc-radio-unchecked-stroke-color(#fbd132);
  @include mdc-radio-checked-stroke-color(#fbd132);
}

.mode-switcher .mdc-switch {
  @include mdc-switch-toggled-on-color(#fbd132);
  @include mdc-switch-toggled-off-color(#fbd132);
  margin: 0 2%;
}

// _______________________________________________________________________________
// BRACKET

.bracket {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  font-size: 0;
  .round {
    display: inline-block;
    vertical-align: middle;
    .round-title {
      display: none;
    }
    .winners {
      > div {
        display: inline-block;
        vertical-align: middle;
      }
      > div.matchups {
        .matchup {
          &:last-child {
            margin-bottom: 0 !important;
          }
          .participants {
            border-radius: 0.25rem;
            overflow: hidden;
            .participant {
              display: flex;
              flex-direction: row;
              color: #fff;
              border-left: 0.25rem solid #858585;
              background: #61676e;
              width: 20vw;
              max-width: 270px;
              height: 3rem;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
              &:not(:last-child) {
                border-bottom: thin solid #f0f2f2;
              }
              .name {
                margin: 0 1.25rem;
                line-height: 3;
                font-size: 1rem;
              }
              .result {
                margin-right: 1.25rem;
                margin-left: auto;
                line-height: 3;
                font-size: 1rem;
              }
            }
            .participant.winner {
              color: #fbd132;
              border-color: #fbd132;
            }
            .participant.loser {
              color: #dc563f;
              border-color: #dc563f;
            }
          }
        }
      }
      > div.connector.filled {
        .line {
          border-color: #fbd132;
        }
      }
      > div.connector.filled.bottom {
        .merger {
          &:after {
            border-color: #fbd132;
          }
        }
      }
      > div.connector.filled.top {
        .merger {
          &:before {
            border-color: #fbd132;
          }
        }
      }
      > div.connector {
        .line {
          box-sizing: border-box;
          width: 2rem;
          display: inline-block;
          vertical-align: top;
          border-bottom: thin solid #c0c0c8;
          height: 4rem;
        }
        .merger {
          box-sizing: border-box;
          width: 2rem;
          display: inline-block;
          vertical-align: top;
          position: relative;
          height: 8rem;
          &:before {
            content: "";
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 50%;
            border: 0 solid;
            border-color: #c0c0c8;
            border-right-width: thin;
            border-top-width: thin;
          }
          &:after {
            content: "";
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 50%;
            border: 0 solid;
            border-color: #c0c0c8;
            border-right-width: thin;
            border-bottom-width: thin;
          }
        }
      }
    }
  }
  .round.quarterfinals {
    .winners {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      .matchups {
        .matchup {
          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  .round.semifinals {
    .winners {
      .matchups {
        .matchup {
          &:not(:last-child) {
            margin-bottom: 10rem;
          }
        }
      }
      .connector {
        .merger {
          height: 16rem;
        }
        .line {
          height: 8rem;
        }
      }
    }
  }
  .round.finals {
    .winners {
      .connector {
        .merger {
          height: 3rem;
        }
        .line {
          height: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 795px) {
  .bracket {
    display: grid;

    section.round {
      .round-title {
        display: block;
        font-size: 1.5rem;
      }
      div.winners {
        div.matchups {
          width: 100%;

          div.matchup {
            margin: 0;
            margin-bottom: 2% !important;

            div.participants {
              display: flex;
              flex-direction: row;
              justify-content: space-around;

              div.participant {
                width: 100%;
                border-bottom: none !important;
              }
              div.participant:not(:first-child) {
                margin-left: 2%;
              }
            }
          }
        }
        .connector {
          display: none;
        }
      }
    }
    section.round.quarterfinals,
    section.round.semifinals,
    section.round.finals {
      margin-bottom: 8%;
    }
  }
}

// ________________________________________________________________________________
//GENERAL-main

// GENERAL-header

.main-header,
.main-header-no-min {
  margin-top: -1px;
  padding: 0 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  z-index: 5;
  position: sticky;
  top: 0;
  transition: 0.3s;
  background-color: #262b31;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.main-header__logo img {
  width: 120px;
  height: 75px;
}

.main-header__logo img:first-of-type {
  width: 90px;
}

.main-header__logo {
  cursor: pointer;
}

.main-header.scrolled .main-header__logo img {
  width: 110px;
  height: 60px;
}

.main-header.scrolled .main-header__logo img:first-of-type {
  width: 60px;
}

.site-nav ul,
.site-nav-no-min ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.site-nav-no-min ul {
  padding-top: 2%;
}

.site-nav li,
.site-nav-no-min li {
  margin-left: 20px;
  border-bottom: none;
}

.main-header .mdc-tab-bar,
.main-header-no-min .mdc-tab-bar,
.main-header .mdc-tab-scroller,
.main-header-no-min .mdc-tab-scroller,
.main-header .mdc-tab-scroller__scroll-area,
.main-header-no-min .mdc-tab-scroller__scroll-area,
.main-header .mdc-tab-bar a,
.main-header-no-min .mdc-tab-bar a {
  height: 100%;
}

.site-nav-min {
  display: none;
}

.menu-btn {
  margin-top: 25%;
  margin-left: 10%;
}

.site-nav-min .mdc-menu-surface {
  margin-top: 20%;
  @include mdc-menu-surface-fill-color(#262b31);
}

.site-nav-min .mdc-list {
  @include mdc-menu-surface-ink-color(#fff);
}

.mdc-list-divider {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

//GENERAL-footer

.main-footer {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  background: #262b31;
}

.main-footer a:hover {
  text-decoration: underline;
  color: #fbd132;
}

.main-footer .container-center {
  width: 60vw;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-top {
  margin-bottom: 3%;
}

.footer-top a:hover {
  text-decoration: none;
  cursor: pointer;
}

.main-footer__logo img {
  width: 110px;
  height: 65px;
  margin-top: 10px;
}

.main-footer__logo img:first-of-type {
  width: 70px;
}

.footer-middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5%;
}

.footer-middle ul {
  padding: 0 0 40px;
}

.main-footer__social ul {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer__social a {
  position: relative;

  width: 50px;
  height: 50px;
  margin-right: 3px;

  text-align: center;

  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-footer__vk-social-btn {
  font-size: inherit;

  position: absolute;

  display: block;

  width: 15px;
  height: 15px;

  content: "";

  background: url("./img/icons/icon-vk.svg") no-repeat center;
}

.main-footer__vk-social-btn:hover {
  background-color: #4c75a3;
}

.main-footer__fb-social-btn {
  font-size: inherit;

  position: absolute;

  display: block;

  width: 15px;
  height: 15px;

  content: "";

  background: url("./img/icons/icon-fb.svg") no-repeat center;
}

.main-footer__fb-social-btn:hover {
  background-color: #3b5998;
}

.main-footer__insta-social-btn {
  font-size: inherit;

  position: absolute;

  display: block;

  width: 15px;
  height: 15px;

  content: "";

  background: url("./img/icons/icon-insta.svg") no-repeat center;
}

.main-footer__insta-social-btn:hover {
  background-color: #fcb045;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: rgb(199, 199, 199);
  font-size: 0.8rem;
  font-style: italic;
  padding-bottom: 3%;
}

.footer-bottom__authority {
  font-weight: 700;
  text-align: right;
}

//GENERAL-containers

.container-center {
  width: 65vw;
  margin: 0 auto;
  padding: 0 10px;
}

.regular-wrapper {
  width: 100vw;
  height: auto;
  z-index: 1;
  position: relative;
}

.parallax-wrapper + .regular-wrapper {
  background-image: linear-gradient(60deg, #24292f 0%, #333941 100%);
}

.parallax-wrapper {
  position: relative;
  background-image: url("./img/tennis-court-bg.jpg");
  height: 100vh;
  width: 100vw;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__parallax {
  margin-top: -80px;
}

//_____________________________________________________________________
//GENERAL-media quieries

@media screen and (max-width: 960px) {
  .main .container-center,
  .main-footer .container-center,
  .container-center {
    width: 75vw;
    padding: 0;
  }
}

@media screen and (max-width: 795px) {
  h1 {
    font-size: 2.8em;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 2.2em;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 1.9em;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  h5 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
  }

  h6 {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
  }

  html,
  body {
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .main .container-center,
  .main-footer .container-center,
  .container-center {
    width: 90vw;
    padding: 0;
  }

  .main-header .main-header__logo img,
  .main-header-no-min .main-header__logo img {
    width: 90px;
    height: 50px;
    margin-left: 5px;
  }

  .main-header__logo img:first-of-type {
    width: 60px;
  }

  .site-nav,
  .site-nav-no-min {
    display: none;
  }

  .site-nav-min {
    display: block;
  }

  .menu-btn {
    width: 42px;
    height: 42px;
    padding: 8px;
    margin-top: 20%;
  }

  .site-nav-min .mdc-menu-surface,
  .site-nav-no-min .mdc-menu-surface {
    width: 100vw;
    margin-top: 20%;
  }

  .mdc-menu__selection-group {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

  .footer-top {
    margin-bottom: 7%;
  }

  .footer-middle {
    margin-bottom: 7%;
  }

  .main-footer__nav,
  .main-footer__profile {
    display: none;
  }

  .main-footer__social {
    margin: 0 auto;
  }

  .main-footer__social h4 {
    display: none;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .footer-bottom__authority,
  .footer-bottom__credits {
    margin: 1% auto;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 2.3em;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 2em;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }

  h5 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1.3rem;
  }

  h6 {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1.3rem;
  }

  html,
  body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7rem;
    margin-bottom: 1rem;
  }

  .main .container-center,
  .main-footer .container-center,
  .container-center {
    width: 95vw;
  }

  .main-header .main-header__logo img,
  .main-header-no-min .main-header__logo img {
    width: 90px;
    height: 60px;
  }
}

//___________________________________________________________________________

//INDEX.html

.landing > .main section,
.promo > .container-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: auto;
}

.promo {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.promo__title {
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 6rem;
  line-height: 7rem;
}

.go-further-icon {
  position: absolute;
  top: 90%;
  font-size: 4rem;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.features {
  padding: 5% 0;
  background-color: #fff;
  color: #24292f;
  border-top: 8px solid #fbd132;
}

.features__title {
  margin-bottom: 1%;
}

.features__list {
  font-size: 1.4em;
  line-height: 1.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.features__list-item {
  width: 30%;
  padding-top: 20%;
  position: relative;
}

.features__list-item:nth-of-type(1) p::before {
  content: "";
  display: block;
  position: absolute;

  top: 20%;
  left: 30%;
  width: 40%;
  height: 40%;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./img/icon-images-yellow/025-victory.svg");
}

.features__list-item:nth-of-type(2) p::before {
  content: "";
  display: block;
  position: absolute;

  top: 20%;
  left: 30%;
  width: 40%;
  height: 40%;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./img/icon-images-yellow/team.svg");
}

.features__list-item:nth-of-type(3) p::before {
  content: "";
  display: block;
  position: absolute;

  top: 20%;
  left: 30%;
  width: 40%;
  height: 40%;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./img/icon-images-yellow/015-prize.svg");
}

.community {
  background-image: url("./img/running-people-bg.jpg");
  background-size: cover;
  align-items: stretch !important;
  border-top: 8px solid #fbd132;
}

.community.parallax-wrapper {
  height: unset;
}

.community-shadow {
  background-image: linear-gradient(
    50deg,
    #24292f 0%,
    #24292fda 60%,
    #24292f63 100%
  );
  padding: 10% 50% 15% 8%;
  text-align: left;
}

.community__btns {
  padding: 0;
  max-width: 750px;
}

.community__btns a {
  margin-bottom: 5%;
  width: 100%;
}

.registration {
  position: relative;
  background-color: #fff;
  color: #24292f;
  align-items: stretch !important;
  border-top: 8px solid #fbd132;
  padding: 8% 10% 10% 55%;
}

.registration::before {
  content: "";
  display: block;
  position: absolute;

  top: 20%;
  left: 0;
  width: 70%;
  height: 70%;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./img/icon-images-yellow/027-medal-2.svg");
}

.registration__title,
.registration__sub-title {
  text-align: left;
}

.registration__btn {
  width: 100%;
  max-width: 700px;
}

.popular-games {
  border-top: 8px solid #fbd132;
  border-bottom: 8px solid #fbd132;
}

@media screen and (min-width: 1400px) {
  .registration {
    padding: 8% 15% 10% 55%;
  }

  .registration::before {
    left: 20%;
  }
}

@media screen and (max-width: 1200px) {
  .landing .container-center {
    width: 80vw;
  }

  .features__list-item {
    padding-top: 35%;
  }

  .features__list-item:nth-of-type(1) p::before,
  .features__list-item:nth-of-type(2) p::before,
  .features__list-item:nth-of-type(3) p::before {
    width: 15vw;
    height: 15vh;
    left: 18%;
  }
}

@media screen and (max-width: 960px) {
  .parallax-wrapper {
    background-attachment: scroll;
  }

  .registration::before {
    width: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 795px) {
  .promo__title {
    font-size: 3em;
    line-height: 1.5em;
  }

  .promo__btn {
    font-size: 0.7rem;
  }

  .features__list {
    font-size: 1.2em;
  }

  .registration__sub-title {
    font-size: 2em;
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .features__list {
    font-size: 1.3em;
    line-height: 2em;
    flex-direction: column;
  }

  .features__list-item {
    padding-top: 50%;
  }

  .features__list-item {
    margin: 5% auto;
    width: 90%;
  }

  .features__list-item:nth-of-type(1) p::before,
  .features__list-item:nth-of-type(2) p::before,
  .features__list-item:nth-of-type(3) p::before {
    width: 35vw;
    height: 35vh;
    left: 25%;
    top: 2%;
  }

  .registration {
    padding: 55% 5% 10% 5%;
  }

  .registration::before {
    width: 55%;
    height: 55%;
    top: 1%;
    left: 0;
  }

  .registration__title {
    margin: 0;
  }

  .landing > .main .popular-games {
    display: none;
  }
  .landing > .main .registration {
    border-bottom: 8px solid #fbd132;
  }
}

// Accordion Height
$a-height: 600px;

// Position text along bottom
$text-offset: $a-height - 90;

.accordion {
  width: 100vw;
  height: $a-height;
  overflow: hidden;
  margin: 0 auto;

  ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;

    li {
      display: table-cell;
      vertical-align: bottom;
      position: relative;
      width: 16.666%; // 6 into 100
      height: $a-height;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      transition: all 500ms ease;

      div {
        display: block;
        overflow: hidden;
        width: 100%;

        a {
          display: block;
          height: $a-height;
          width: 100%;

          position: relative;
          z-index: 3;
          vertical-align: bottom;
          padding: 15px 20px;
          box-sizing: border-box;
          color: #fff;
          text-decoration: none;
          font-family: Open Sans, sans-serif;
          background: #24292f79;

          transition: all 200ms ease;

          * {
            opacity: 0;
            margin: 0;
            width: 100%;
            text-overflow: ellipsis;
            position: relative;
            z-index: 5;

            white-space: nowrap;
            overflow: hidden;

            -webkit-transform: translateX(-20px);
            transform: translateX(-20px);

            -webkit-transition: all 400ms ease;
            transition: all 400ms ease;
          }

          h2 {
            font-family: Montserrat, sans-serif;
            text-overflow: clip;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 2px;

            top: $text-offset;
          }

          p {
            top: $text-offset;
            font-size: 13.5px;
          }
        }
      }
    }

    // Background images
    li:nth-child(1) {
      background-image: url("./img/games-wp/basketball.jpg");
    }
    li:nth-child(2) {
      background-image: url("./img/games-wp/football.jpg");
    }
    li:nth-child(3) {
      background-image: url("./img/games-wp/hockey.jpg");
    }
    li:nth-child(4) {
      background-image: url("./img/games-wp/rugby.jpg");
    }
    li:nth-child(5) {
      background-image: url("./img/games-wp/lol.jpg");
    }
    li:nth-child(6) {
      background-image: url("./img/games-wp/dota2.jpg");
    }
    li:nth-child(7) {
      background-image: url("./img/games-wp/csgo.jpg");
    }
    li:nth-child(8) {
      background-image: url("./img/games-wp/chess.jpg");
    }

    &:hover li,
    &:focus-within li {
      width: 8%;
    }

    li:focus {
      outline: none;
    }

    &:hover li:hover,
    // allow users to tab through active slides
    li:focus,
    &:focus-within li:focus {
      width: 60%;

      a {
        background: rgba(0, 0, 0, 0);

        * {
          opacity: 1;
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      }
    }

    &:hover li {
      width: 8% !important;

      a * {
        opacity: 0 !important;
      }
    }

    &:hover li:hover {
      width: 60% !important;

      a {
        background: rgba(0, 0, 0, 0);

        * {
          opacity: 1 !important;
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      }
    }
  }
}

// Stack items
@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;

    li:nth-child(7),
    li:nth-child(8) {
      display: none;
    }

    ul,
    ul:clicked {
      li:clicked {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;

        -webkit-transition: none;
        transition: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .accordion {
    li:nth-child(5),
    li:nth-child(6) {
      display: none;
    }
  }
}
