@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-yellow, A200, A100, A400);
$app-accent:  mat-palette($mat-yellow, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

$wix-primary: mat-color($mat-yellow, A200);
$wix-warn: mat-color($mat-red, 600);
$wix-background: mat-color($mat-grey, 900);
$wix-dark-background: rgba(0, 0, 0, 0.1);
$wix-foreground: mat-color($mat-grey, 800);
$wix-light-foreground: mat-color($mat-grey, 700);
$wix-dark-color: mat-color($mat-grey, 900);
$wix-color: #fff;

// Create the theme object (a Sass map containing all of the palettes).
$wix-app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wix-app-theme);


html,
body {
  box-sizing: border-box;

  background-color: $wix-background; 
  font-family: Roboto, Helvetica, sans-serif;
  color: $wix-color;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 1.5rem;

  margin: 0;
  padding: 0;
}

a {
  color: $wix-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.3em;
  line-height: 5rem;
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8em;
  line-height: 4rem;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  line-height: 3rem;
  font-weight: 700;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}

.container-center {
  width: 65vw;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 960px) {

  .container-center {
    width: 75vw;
    padding: 0;
  }
}

@media screen and (max-width: 795px) {
  h1 {
    font-size: 2.8em;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 2.2em;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 1.9em;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  h5 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
  }

  h6 {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
  }

  html,
  body {
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .container-center {
    width: 90vw;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 2.3em;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 2em;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }

  h5 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1.3rem;
  }

  h6 {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1.3rem;
  }

  html,
  body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7rem;
    margin-bottom: 1rem;
  }
  .main .container-center,
  .container-center {
    width: 95vw;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 25px);
  }
  to {
    transform: translate(0, -0px);
  }
}




// COMMON COMPONENTS


//buttons
.btn {
  padding: 0 50px;
  text-transform: uppercase;
  color: $wix-color;
}

.btn.mat-stroked-button {
  border-color: $wix-primary;
  background-color: rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.highlighted-btn {
  color: $wix-dark-color;
  background-color: $wix-primary;
}

.highlighted-btn:hover {
  background-color: mat-color($mat-yellow, A100);
}


//tabs
.mat-tab-header {
  margin-bottom: 50px;
}

.mat-tab-label-content {
  font-weight: 700;
  text-transform: uppercase;
  color: $wix-color;
}


//form fields
.mat-form-field input {
  vertical-align: middle;
}

.mat-form-field-disabled .mat-form-field-flex {
  color: $wix-color;
}

.mat-form-field-flex {
  background-color: $wix-light-foreground;
  padding: 3px 10px 10px;
}

.other-chosen-input-field {
  display: none;
}

.search-form {
  
  .mat-form-field-underline {
    height: 0;
    display: none;
  }
  .mat-form-field-flex {
    border-radius: 5px;
    border: 1px solid $wix-primary;
    height: 45px;
  }

  .mat-form-field-infix {
    border: none;
    padding-top: 10px;
  }

  .mat-form-field input {
    vertical-align: super;
    width: 100%;
  }
}

.mat-checkbox {
  .mat-checkbox-inner-container {
    width: 22px;
    height: 22px;
  }
  .mat-checkbox-frame {
    border-width: 3px;
  }
}

.mat-radio-button {
  margin-right: 5%;
}



.chart {
  color: #fff;
  // @include mdc-data-table-fill-color(rgb(97, 103, 110));
  // @include mdc-data-table-divider-color(#24292f);
  // @include mdc-data-table-row-height(43px);
}

.chart th,
.chart td {
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.chart th {
  font-size: 1.1rem;
  font-weight: 600;
}