@import 'src/styles.scss';

div {
    display: block;
    background-color: $wix-warn;
    color: $wix-color;
    width: 99.9%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}