<h1 mat-dialog-title>Create new player</h1>

<mat-divider></mat-divider>

<div mat-dialog-content>
    <p>Give some information about player</p>
    <p>* logo and team members can be specified later in the profile</p>

    <div class='inputs'>
        <label> Name: </label>
        <mat-form-field>
            <input
                matInput
                [(ngModel)]="name"
            >
        </mat-form-field>
        <label>Country</label>
        <mat-form-field>
            <mat-select [(ngModel)]="country">

                <mat-option value="russia">
                    Russia
                </mat-option>
                <mat-option value="usa">
                    USA
                </mat-option>
                <mat-option value="germany">
                    Germany
                </mat-option>
                <mat-option value="england">
                    England
                </mat-option>
                <mat-option value="france">
                    France
                </mat-option>
                <mat-option value="ukraine">
                    Ukraine
                </mat-option>

            </mat-select>
        </mat-form-field>
    </div>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions>
    <button
        mat-stroked-button
        (click)="cancelCreateNewPlayer()"
        class="btn"
    >Cancel</button>
    <button
        mat-stroked-button
        (click)="handleSavePlayerToDb()"
        class="btn"
    >Create player</button>
</div>